    /*
    Flaticon icon font: Flaticon
    Creation date: 11/05/2016 22:10
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bathroom-faucet-tool:before { content: "\f100"; }
.flaticon-close-envelope:before { content: "\f101"; }
.flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package:before { content: "\f102"; }
.flaticon-handyman-tools:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-map-pin-silhouette:before { content: "\f105"; }
.flaticon-marketing:before { content: "\f106"; }
.flaticon-mission:before { content: "\f107"; }
.flaticon-money-increase:before { content: "\f108"; }
.flaticon-plan-idea:before { content: "\f109"; }
.flaticon-product-realise:before { content: "\f10a"; }
.flaticon-quote-circular-button:before { content: "\f10b"; }
.flaticon-repair-tools:before { content: "\f10c"; }
.flaticon-shower-water-running:before { content: "\f10d"; }
.flaticon-telephone:before { content: "\f10e"; }
.flaticon-verification-of-delivery-list-clipboard-symbol:before { content: "\f10f"; }
    
    $font-Flaticon-bathroom-faucet-tool: "\f100";
    $font-Flaticon-close-envelope: "\f101";
    $font-Flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package: "\f102";
    $font-Flaticon-handyman-tools: "\f103";
    $font-Flaticon-list: "\f104";
    $font-Flaticon-map-pin-silhouette: "\f105";
    $font-Flaticon-marketing: "\f106";
    $font-Flaticon-mission: "\f107";
    $font-Flaticon-money-increase: "\f108";
    $font-Flaticon-plan-idea: "\f109";
    $font-Flaticon-product-realise: "\f10a";
    $font-Flaticon-quote-circular-button: "\f10b";
    $font-Flaticon-repair-tools: "\f10c";
    $font-Flaticon-shower-water-running: "\f10d";
    $font-Flaticon-telephone: "\f10e";
    $font-Flaticon-verification-of-delivery-list-clipboard-symbol: "\f10f";