	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/05/2016 22:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bathroom-faucet-tool:before { content: "\f100"; }
.flaticon-close-envelope:before { content: "\f101"; }
.flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package:before { content: "\f102"; }
.flaticon-handyman-tools:before { content: "\f103"; }
.flaticon-list:before { content: "\f104"; }
.flaticon-map-pin-silhouette:before { content: "\f105"; }
.flaticon-marketing:before { content: "\f106"; }
.flaticon-mission:before { content: "\f107"; }
.flaticon-money-increase:before { content: "\f108"; }
.flaticon-plan-idea:before { content: "\f109"; }
.flaticon-product-realise:before { content: "\f10a"; }
.flaticon-quote-circular-button:before { content: "\f10b"; }
.flaticon-repair-tools:before { content: "\f10c"; }
.flaticon-shower-water-running:before { content: "\f10d"; }
.flaticon-telephone:before { content: "\f10e"; }
.flaticon-verification-of-delivery-list-clipboard-symbol:before { content: "\f10f"; }