@charset "UTF-8";
/*
--------------------------------------------
ESTRUTURA├ç├âO BASE (Palupa Framework v1.1)
--------------------------------------------
** IMPORTS
** VARI├üVEIS
** ESTILOS GERAIS PARA AS P├üGINAS
*** BODY
**** TOPO
**** RODAP├ë
**** COPYRIGHT
**** P├üGINA INICIAL
**** P├üGINAS INTERNAS
**** EXTRAS
**** BOT├òES
**** @MEDIA
*/
/*VARIAVEIS*/
body {
  font-family: 'Open Sans';
  font-size: 14px;
  position: relative; }

/*TOPO*/
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important; }

#ativo {
  color: #c26766;
  font-weight: bold; }

.topo {
  position: absolute;
  top: 0;
  min-height: 800px;
  width: 100%; }
  .topo .correcaoY {
    padding-top: 65px; }
  .topo .info-contato {
    position: absolute;
    z-index: 2;
    top: 0;
    min-height: 50px;
    background: rgba(54, 71, 95, 0.63);
    width: 100%;
    text-align: center;
    line-height: 50px; }
    .topo .info-contato p {
      color: #fff;
      margin: 0;
      display: inline-block;
      font-size: 14px;
      margin: 0 20px; }
 
    .topo .info-contato .container {
      width: 1334px; }
  .topo .logo {
    z-index: 2;
    position: relative; }
    .topo .logo a {
      z-index: 2;
      display: block;
      width: 200px;
      margin: 0 auto;
      height: 255px;
      text-align: center;
      position: absolute;
      right: 0;
      top: -37px; }
      /*.topo .logo a:before {
        display: block;
        content: attr(title);
        font-weight: bold;
        position: absolute;
        bottom: -30px;
        width: 297px;
        font-size: 20px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        left: 50%;
        transform: translateX(-50%);
        color: #30415a;
        font-family: 'Sriracha';
        font-weight: 100; }*/
      .topo .logo a h1 {
        width: 200px;
        margin: 0 auto;
        height: 250px;
        text-indent: -9999em;
        background: url(img/logo3b.png) no-repeat;
        background-size: cover !important; }
  .topo .navbar {
    z-index: 2;
    margin: 50px 0 0; 
    transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
  }
    .topo .navbar .navbar-toggle {
      border: solid 1px #fff;
      margin: 0 20px; }
      .topo .navbar .navbar-toggle .icon-bar {
        background: #fff; }
    .topo .navbar .navbar-header .navbar-collapse ul li a {
      color: #fff;
      text-transform: uppercase;
      font-size: 17px;
      margin: 0 20px;
      font-weight: 100;
      padding: 10px 6px; }
      .topo .navbar .navbar-header .navbar-collapse ul li a:hover {
        color: #b13e3d !important; }
    .topo .navbar .navbar-header .navbar-collapse ul .dropdown ul {
      background: #36475f;
      margin: 0;
      min-height: 145px;
      padding: 10px 0 0 0;
      width: 335px;
      left: 20px !important; }
      .topo .navbar .navbar-header .navbar-collapse ul .dropdown ul li a {
        border-bottom: solid 1px #fff;
        display: block;
        text-align: left;
        min-height: 40px;
        margin: 10px 0;
        line-height: 40px; }
        .topo .navbar .navbar-header .navbar-collapse ul .dropdown ul li a:hover {
          color: #b13e3d;
          font-weight: bold !important; }

.carrossel {
  position: relative;
  width: 100%;
    top: 102px;}
  .carrossel .botoes-destaque {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%); }
    .carrossel .botoes-destaque .navegacaoDestqueFrent {
      color: #000;
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.55);
      border: 0;
      font-size: 50px;
      text-align: center;
      position: absolute;
      outline: none;
      left: 0; }
      .carrossel .botoes-destaque .navegacaoDestqueFrent:hover {
        background: #30415a;
        color: #fff; }
      .carrossel .botoes-destaque .navegacaoDestqueFrent:hover img {
        opacity: 1;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
      .carrossel .botoes-destaque .navegacaoDestqueFrent img {
        position: absolute;
        left: 69px;
        height: 72px;
        top: 0;
        opacity: 0;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
    .carrossel .botoes-destaque .navegacaoDestqueTras {
      color: #000;
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.55);
      border: 0;
      font-size: 50px;
      text-align: center;
      position: absolute;
      right: 0;
      z-index: 2;
      outline: none; }
      .carrossel .botoes-destaque .navegacaoDestqueTras:hover {
        background: #30415a;
        color: #fff; }
      .carrossel .botoes-destaque .navegacaoDestqueTras:hover img {
        opacity: 1;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
      .carrossel .botoes-destaque .navegacaoDestqueTras img {
        position: absolute;
        right: 69px;
        height: 72px;
        top: 0;
        opacity: 0;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
  .carrossel .item {
    display: block;
    width: 100%;
    min-height: 550px;
    background-size: cover !important;
    position: relative; }
    .carrossel .item .lente {
      display: block;
      min-height: 550px;
      background: rgba(0, 0, 0, 0.2); }
    .carrossel .item .foto-anterior {
      position: absolute;
      background-size: cover !important;
      background-position: center !important;
      top: 50%;
      left: 70px;
      width: 70px;
      height: 70px;
      display: none; }
    .carrossel .item .foto-posterior {
      position: absolute;
      background-size: cover !important;
      background-position: center !important;
      top: 50%;
      right: 70px;
      width: 70px;
      height: 70px;
      display: none; }
    .carrossel .item .descicao {
      display: none;
      position: absolute;
      width: 100%;
      width: 100%;
      max-width: 317px;
      background: rgba(255, 255, 255, 0.46);
      bottom: 24%;
      left: 27%;
      color: #30415a;
      padding: 15px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px; }
      .carrossel .item .descicao h2 {
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 100;
        color: #30415a;
        border-bottom: solid #ac5455;
        font-weight: 400; }
      .carrossel .item .descicao p {
        font-size: 22px;
        font-weight: 100;
        color: #30415a; }
      .carrossel .item .descicao a {
        background: transparent;
        border-color: #30415a;
        color: #30415a;
        border-radius: 12px;
        border: solid 2px;
        display: inline-block;
        width: 140px;
        height: 30px;
        text-align: center;
        line-height: 25px;
        text-decoration: none; }
        .carrossel .item .descicao a:hover {
          color: #fff !important;
          border-color: #30415a;
          background: #30415a; }
  .carrossel .owl-dots {
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    bottom: 0; }
    .carrossel .owl-dots span {
      display: block;
      border: solid 1px #fff;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 5px;
      bottom: 0;
      left: 50%;
      background: transparent; }
  .carrossel .owl-dot.active span {
    background: #fff; }

/*TOPO P├üGINAS INTERNAS*/
.paginas-internas {
    min-height: 135px;
    margin-bottom: 0;
    position: fixed;
    z-index: 999;
    display: block;
    background: #fff;
    transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease; }
  .paginas-internas .info-contato {
    position: absolute;
    z-index: 2;
    top: 0;
    min-height: 50px;
    background: #36475f;
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
     }
    .paginas-internas .info-contato p {
      color: #fff;
      margin: 0;
      display: inline-block;
      font-size: 14px;
      margin: 0 20px; }
    
  .paginas-internas .logo {
    z-index: 2;
    position: relative; }
    .paginas-internas .logo a {
      z-index: 2;
      display: block;
      width: 134px;
      margin: 0 auto;
      height: 173px;
      text-align: center;
      position: absolute;
      right: 0;
      top: -50px; }
      .paginas-internas .logo a h1 {
        width: 134px;
        margin: 0 auto;
        height: 173px;
        text-indent: -9999em;
        background: url(img/logo3b.png) no-repeat;
        background-size: cover !important;
        transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease; }
  .paginas-internas .cor-background {
    background: #f0f0f0;
    min-height: 105px;
    padding-top: 50px; }
  .paginas-internas .navbar {
    z-index: 2;
    margin: 10px 0 0; }
    .paginas-internas .navbar .navbar-toggle {
      border: solid 1px #36475f;
      margin: 0 20px; }
      .paginas-internas .navbar .navbar-toggle .icon-bar {
        background: #36475f; }
    .paginas-internas .navbar .navbar-header .navbar-collapse ul li a {
      color: #30415a;
      text-transform: uppercase;
      font-size: 17px;
      margin: 0 22px;
      font-weight: 600;
      border-bottom: solid transparent; }
      .paginas-internas .navbar .navbar-header .navbar-collapse ul li a:hover {
        border-bottom: solid #b13e3d;color: #b13e3d; }
    .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul {
      background: #36475f;
      margin: 0;
      min-height: 88px;
      padding: 10px 0 0 0;
      width: 335px;
      left: 20px !important; }
      .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul li a {
        border-bottom: solid 1px #fff;
        display: block;
        text-align: left;
        min-height: 40px;
        margin: 10px 0;
        line-height: 40px;
        color: #fff; }
        .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul li a:hover {
          color: #b13e3d;
          font-weight: bold !important; }
  .paginas-internas .ativo {
    color: #c26766;
    font-weight: bold; }

/*FOOTER*/
.rodape {
  }
  .rodape .bg-fundo {
    min-height: 260px;
    background: url(img/bg-rodape.png);
    background-size: cover !important; }
    .rodape .bg-fundo .logo-rodape {
      position: relative;
      text-align: center; }
     /* .rodape .bg-fundo .logo-rodape:after{
        display: block;
        content: 'Seu Banho no clima perfeito.';
        font-weight: bold;
        position: absolute;
        bottom: 11px;
        width: 297px;
        left: -19px;
        font-size: 18px;
        color: #30415a;
        font-family: 'Sriracha';
        font-weight: 100;
      }*/
      .rodape .bg-fundo .logo-rodape img {
        height: 277px; 
       background: #fff;
    padding: 25px;}
    .rodape .bg-fundo .form-rodape {
      padding: 30px 0;
      width: 100%;
      max-width: 420px;
      text-align: right; }
      .rodape .bg-fundo .form-rodape p {
        color: #fff;
        font-weight: 100;
        font-size: 16px;
        text-align: left;
        margin-bottom: 35px; }
        .rodape .bg-fundo .form-rodape p:before {
          content: '';
          display: block;
          background: #8e373d;
          color: #8e373d;
          width: 110px;
          height: 3px; }
      .rodape .bg-fundo .form-rodape .form-group .form-control {
        background: transparent;
        border: solid 1px #fff;
        border-radius: 15px;
        height: 35px;
        color: #fff;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        -o-transition: border-color none !important;
        transition: border-color none !important;
        outline: none !important; }
      .rodape .bg-fundo .form-rodape .form-group ::-webkit-input-placeholder {
        color: #fff !important; }
      .rodape .bg-fundo .form-rodape .form-group :-moz-placeholder {
        color: #fff !important; }
      .rodape .bg-fundo .form-rodape .form-group ::-moz-placeholder {
        color: #fff !important; }
      .rodape .bg-fundo .form-rodape .form-group :-ms-input-placeholder {
        color: #fff !important; }
      .rodape .bg-fundo .form-rodape .enviar {
        width: 200px;
        height: 35px;
        background: #a23537;
        color: #fff;
        text-align: center;
        border: 0;
        border-radius: 15px;
        font-size: 17px;
        font-weight: 100;
        outline: none !important; }
  .rodape .area-info-rodape {
       margin-top: 10px;
    background: url(img/fundo-rodape.png);
    min-height: 407px;
    width: 100%;
    background-size: cover !important;
    padding: 60px 0 0;}
    .rodape .area-info-rodape .subtitulo {
      text-transform: uppercase;
      font-weight: 900;
      color: #a23537;
      font-size: 34px;
      line-height: 36px;
      margin-bottom: 40px; }
      .rodape .area-info-rodape .subtitulo span {
        text-transform: lowercase;
        font-weight: 100;
        font-size: 34px;
        display: block; }
        .rodape .area-info-rodape .subtitulo span small {
          text-transform: uppercase;
          font-weight: 100;
          font-size: 34px; }
    .rodape .area-info-rodape .endreco p {
      font-size: 16px;
      color: #2f415a;
      font-weight: 600; }
      .rodape .area-info-rodape .endreco p a{
        text-decoration: none;
        color: #2f415a;
      }
    .rodape .area-info-rodape .endreco .rua {
      margin: 0; }
    .rodape .area-info-rodape .endreco .bairro {
      margin: 0 0 10px; }
    .rodape .area-info-rodape .redes-sociais {
      margin-top: 41px; }
      .rodape .area-info-rodape .redes-sociais a {
        display: inline-block;
        width: 100%;
        max-width: 60px;
        height: 60px;
        border-radius: 100%;
        text-align: center;
        line-height: 60px;
        font-size: 27px;
        margin: 5px;
        border: solid 2px #2f415a;
        color: #2f415a; }
        .rodape .area-info-rodape .redes-sociais a:hover {
          border-color: #a23537;
          color: #a23537; }
    .rodape .area-info-rodape .titulomapa span {
      display: inline-block; }
    .rodape .area-info-rodape .mapa {
      text-align: left;
      width: 100%;
      max-width: 160px;
      margin: 0 auto; }
      .rodape .area-info-rodape .mapa a {
        display: block;
        font-size: 16px;
        color: #2f415a;
        font-weight: 600;
        margin: 5px 0; }

.formError {
  position: inherit !important;
  margin-bottom: 10px !important; }

.copyright {
  background: #a23537;
  text-align: center;
  min-height: 50px;
  line-height: 50px; }
  .copyright i {
    color: #fff;
    display: inline-block; }
  .copyright p {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    display: inline-block;
    margin: 0; }
    .copyright p span {
      text-transform: uppercase;
      font-weight: 500; }

.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
  background-color: #fff !important;
  border-color: #a23537 !important; }

/*LINK ATIVO*/
.home #inicio {
  color: #c26766;
  font-weight: bold; border-bottom: solid #b13e3d;}

.page-template-quem-somos #quem-somos {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.post-type-archive-produto #produto {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.tax-categoriaProduto #produto {
  border-bottom: solid #b13e3d;color: #c26766;
  font-weight: bold; }

.single-produto #produto {
  border-bottom: solid #b13e3d;color: #c26766;
  font-weight: bold; }

.page-template-assistencia-tecnica #tecnica {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.blog #blog {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.category #blog {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.single-post #blog {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

.post-type-archive-depoimentos #depoimento {
  border-bottom: solid #b13e3d;color: #c26766;
  font-weight: bold; }

.page-template-contato #contato {
  border-bottom: solid #b13e3d; color: #c26766;
  font-weight: bold;}

/*PG*/
.pg .bg-produtos {
  height: 280px;
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  margin-top: 20px; }
.pg .sidebar-produtos {
  min-height: 80px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background: #30415a;
  padding: 20px 0 0; }
  .pg .sidebar-produtos a {
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 270px;
    text-align: center; }
    .pg .sidebar-produtos a:hover {
      font-weight: bold; }
    .pg .sidebar-produtos a:before {
      content: 'Aquecedores de passagem';
      display: block;
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden; }
  .pg .sidebar-produtos .bordas {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-color: #5e6c7f; }
.pg .titulo {
  text-align: center; }
  .pg .titulo p {
    text-transform: uppercase;
    font-size: 27px;
    color: #2f415a; }
  .pg .titulo:after {
    content: '';
    display: block;
    background: #c26766;
    color: #8e373d;
    width: 110px;
    height: 3px;
    margin: 0 auto; }
.pg .frase {
  font-size: 18px;
    color: #6c7585;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-top:25px; }
.pg .sub-titulo {
  text-align: center;
  margin-top: 120px; }
  .pg .sub-titulo p {
    text-transform: uppercase;
    font-size: 26px;
    color: #2f415a; }
  .pg .sub-titulo h2 {
    text-transform: uppercase;
    font-size: 32px;
    color: #2f415a; }
.pg .area-blog ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  text-align: center;
  min-height: 310px; }
  .pg .area-blog ul li {
    max-width: 300px;
    width: 100%;
    min-height: 325px;
    background-size: cover !important;
    background-position: center !important;
    margin: 0 38px;
    display: inline-block;
    vertical-align: top; }
    .pg .area-blog ul li a {
      position: relative;
      width: 300px;
      height: 190px;
      background-size: cover !important;
      background-position: center !important;
      display: block;
      text-decoration: none; }
      .pg .area-blog ul li a .lente {
        width: 215px;
        height: 95px;
        margin: 0 auto;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -o-transform: translate(-50%, -50%);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease; }
      .pg .area-blog ul li a:hover .lente {
        width: 300px;
        height: 190px; }
      .pg .area-blog ul li a h4 {
        font-size: 20px;
        font-weight: 100;
        color: #fff;
        text-align: left;
        line-height: 27px;
        text-transform: uppercase;
        margin: 0;
        width: 210px;
        height: 90px; }
    .pg .area-blog ul li span {
      display: block;
      text-align: left;
      text-transform: uppercase;
      color: #30415a;
      font-size: 20px; }
      .pg .area-blog ul li span b {
        font-weight: 800;
        font-size: 20px; }
    .pg .area-blog ul li p {
      text-align: left;
      font-size: 15px;
      color: #30415a;
      margin: 10px 0 0px 0; }
    .pg .area-blog ul li .ver-mais {
      font-size: 12px;
      font-weight: bold;
      color: #e39539;
      text-align: left;
      height: 20px; }
.pg .sidebar {
  background: transparent;
  max-width: 180px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
  width: 100%;
  padding: 20px 0 0;
  text-align: center; }
  .pg .sidebar:after {
    content: '';
    display: block;
    background: #c26766;
    color: #8e373d;
    width: 100px;
    height: 3px;
    margin-top: 10px;
    bottom: 0; }
  .pg .sidebar p {
    color: #36475f;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    text-align: left; }
  .pg .sidebar a {
    color: #36475f;
    text-transform: capitalize;
    position: relative;
    padding: 0 20px;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    width: 270px; }
    .pg .sidebar a:hover {
      font-weight: bold; }
    .pg .sidebar a:before {
      content: '';
      background: #b54847;
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 100%;
      overflow: visible;
      visibility: visible;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%); }
.pg .mais-vistos {
  max-width: 180px;
  margin: 100px  0 0;
  min-height: 200px;
  position: relative;
  padding: 0 0 25px 0; }
  .pg .mais-vistos:after {
    content: '';
    display: block;
    background: #c26766;
    color: #8e373d;
    width: 120px;
    height: 3px;
    margin-top: 10px;
    bottom: 0; }
  .pg .mais-vistos p {
    color: #36475f;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800; }
  .pg .mais-vistos ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .pg .mais-vistos ul li {
      margin: 10px 0 0 0 !important; }
      .pg .mais-vistos ul li a .foto {
        width: 125px;
        height: 95px;
        background-size: cover !important;
        background-position: center !important;
        border: solid 1px #d79b9a; }
      .pg .mais-vistos ul li a p {
        font-size: 15px;
        color: #30415a;
        font-weight: 600;
        margin: 0;
        padding: 0 0 0 5px; }
      .pg .mais-vistos ul li a span {
        font-size: 15px;
        color: #30415a;
        font-weight: 700;
        padding: 0 0 0 5px; }
.pg .produtos {
  margin-top: 50px;
  margin-bottom: 100px; }
  .pg .produtos ul {
    list-style: none;
    min-height: 380px;
    margin: 0;
    padding: 0; }
    .pg .produtos ul li {
      max-width: 377px;
      width: 100%;
      min-height: 380px;
      display: inline-block;
      background-size: cover !important;
      background-position: center;
      margin: 0;
      padding: 0;
      vertical-align: bottom; }
      .pg .produtos ul li:hover a {
        min-height: 95px;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
      .pg .produtos ul li a {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.75);
        display: block;
        min-height: 380px;
        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease; }
        .pg .produtos ul li a .lente h2 {
          font-size: 28px;
          margin: 0;
          text-transform: uppercase;
          font-weight: bold;
          color: #36475f;
          padding: 10px 10px; }
          .pg .produtos ul li a .lente h2:after {
            content: '';
            display: block;
            background: #8e373d;
            color: #8e373d;
            width: 110px;
            height: 3px; }
          .pg .produtos ul li a .lente h2 p {
            font-weight: 100; }
.pg .paginador ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .pg .paginador ul li {
    display: inline-block;
    margin: 0 5px; }
    .pg .paginador ul li a {
      color: #e39539;
      font-size: 20px; }
      .pg .paginador ul li a:hover {
        font-weight: bold; }
      .pg .paginador ul li a i {
        display: block;
        width: 32px;
        height: 37px;
        background: #e39539;
        color: #fff;
        line-height: 37px; }

/* P├üGINA INICIAL*/
.pg-inicial {
  padding: 70px 0 0; }
  .pg-inicial .texto-quem-somos {
    position: relative;
    padding: 20px;
    width: 100%;
    min-height: 160px; }
    .pg-inicial .texto-quem-somos p {
      font-size: 18px;
      color: #6c7585;
      font-weight: 400;
      text-align: left; }
    .pg-inicial .texto-quem-somos a {
      width: 120px;
      height: 30px;
      display: block;
      text-align: center;
      line-height: 30px;
      color: #30415a;
      border: solid 1px #30415a;
      border-radius: 15px;
      font-size: 20px;
      position: absolute;
      right: 0;
      margin: 0 20px; }
      .pg-inicial .texto-quem-somos a:hover {
        background: #30415a;
        color: #fff; }
  .pg-inicial .altura {
    min-height: 365px;
    background: #e7e7e7; }
  .pg-inicial .foto-oquefazemos {
    background-size: cover !important;
    background-position: center !important;
    min-height: 365px;
    width: 100%; }
  .pg-inicial .info-oque-fazemos {
    background: #e7e7e7;
    padding: 20px;
    min-height: 365px; }
    .pg-inicial .info-oque-fazemos .info {
      padding: 0px 35px;
      text-align: center; }
      .pg-inicial .info-oque-fazemos .info i {
        display: block;
        text-align: center;
        min-height: 100px; }
        .pg-inicial .info-oque-fazemos .info i:before {
          font-size: 60px !important;
          color: #36475f;
          margin: 0 !important; }
      .pg-inicial .info-oque-fazemos .info p {
        font-size: 20px;
        color: #ae3433;
        font-weight: 600;
        display: inline;
        text-align: left;
        margin: 10px auto;
        position: relative; }
      .pg-inicial .info-oque-fazemos .info #A:before {
        content: "\f10c";
        font-family: Flaticon;
        font-size: 20px;
        font-style: normal;
        font-size: 60px !important;
        color: #36475f;
        margin: 0 !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        top: -40px;
        font-weight: 100; }
      .pg-inicial .info-oque-fazemos .info #B:before {
        content: "\f104";
        font-family: Flaticon;
        font-size: 20px;
        font-style: normal;
        font-size: 60px !important;
        color: #36475f;
        margin: 0 !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        top: -40px;
        font-weight: 100; }
      .pg-inicial .info-oque-fazemos .info span {
        display: block;
        /* min-width: 180px; */
        font-size: 16px;
        font-weight: 500;
      
        text-align: center;
        color: #30415a;
        /* margin: 10px auto; */
        margin: 10px 0; }
      .pg-inicial .info-oque-fazemos .info .correcaoX {
        padding: 0 0 0 40px; }
  .pg-inicial .carrossel-depoimentos {
    min-height: 330px;
    width: 100%;
    position: relative;
    margin-bottom: 120px; }
    .pg-inicial .carrossel-depoimentos .item {
      text-align: center;
      min-height: 330px;
      width: 100%;
      background-size: cover !important;
      background-position: center !important; }
      .pg-inicial .carrossel-depoimentos .item .lente {
        min-height: 330px;
        width: 100%;
        background: rgba(0, 0, 0, 0.77);
        padding: 100px 100px 0; }
      .pg-inicial .carrossel-depoimentos .item p {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
        position: relative; }
        .pg-inicial .carrossel-depoimentos .item p i {
          display: block;
          position: absolute;
          width: 50px;
          height: 50px;
          left: -28px;
          border: solid;
          border-radius: 100%;
          top: -15px;
          line-height: 50px;
          color: #a29f9d; }
      .pg-inicial .carrossel-depoimentos .item span {
        color: #ae3433;
        display: block;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase; }
      .pg-inicial .carrossel-depoimentos .item small {
        color: #fff;
        font-size: 14px;
        display: block;
        font-style: italic; }
    .pg-inicial .carrossel-depoimentos a {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #a29f9d;
      bottom: 30px;
      font-size: 35px;
      font-weight: 100;
      border: solid 2px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 35px;
      text-decoration: none;
      z-index: 2;
      background: transparent;
      outline: none; }
      .pg-inicial .carrossel-depoimentos a i {
        color: #fff; }
  .pg-inicial .carrossel-parceiros {
    margin-top: 50px;
    min-height: 190px;
    width: 100%;
    margin-bottom: 120px; }
    .pg-inicial .carrossel-parceiros .item {
      min-height: 190px;
      width: 100%;
      padding: 25px; }
  .pg-inicial .area-blog {
    margin-bottom: 120px; }

/*P├üGINA QUEM SOMOS*/
.pg-quem-somos{
  margin-top: 100px;
}
.pg-quem-somos .texto-quem-somos {
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  width: 100%;
  max-width: 1000px;
  margin: 35px auto;
  line-height: 30px;
  padding: 10px; }
.pg-quem-somos .foto-quem-somos {
  min-height: 395px;
  background: #30415a;
  padding-left: 92px; }
  .pg-quem-somos .foto-quem-somos .foto {
    min-height: 395px;
    background-size: cover !important;
    background-position: center;
    border-left: solid #fff 1px; }
    .pg-quem-somos .foto-quem-somos .foto .lente {
      background: rgba(48, 65, 90, 0.57);
      min-height: 395px;
      padding: 50px 25px 0; }
    .pg-quem-somos .foto-quem-somos .foto .subtitulo {
      font-size: 25px;
      font-weight: 100;
      color: #fff;
      text-transform: uppercase; }
      .pg-quem-somos .foto-quem-somos .foto .subtitulo:after {
        content: '';
        display: block;
        background: #415166;
        color: #8e373d;
        width: 110px;
        height: 3px; }
    .pg-quem-somos .foto-quem-somos .foto .info {
      margin-top: 100px; }
      .pg-quem-somos .foto-quem-somos .foto .info p {
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
        margin: 20px 0;
        color: #fff; }
        .pg-quem-somos .foto-quem-somos .foto .info p a{
          color: #fff;
          text-decoration: none;
        }
        .pg-quem-somos .foto-quem-somos .foto .info p .icon {
          margin: 0 10px; }
          .pg-quem-somos .foto-quem-somos .foto .info p .icon:before {
            font-size: 30px; }
.pg-quem-somos .info-3b {
  width: 100%;
  margin: 76px auto 108px;
  max-width: 700px; }
  .pg-quem-somos .info-3b .info {
    text-align: center; }
    .pg-quem-somos .info-3b .info .icon {
      text-align: center; }
      .pg-quem-somos .info-3b .info .icon:before {
        font-size: 50px; }
    .pg-quem-somos .info-3b .info small {
      display: block;
      font-size: 35px;
      font-weight: 800;
      color: #af3736; }
    .pg-quem-somos .info-3b .info p {
      color: #af3736;
      font-size: 15px;
      width: 100%;
      max-width: 130px;
      margin: 0 auto; }
.pg-quem-somos .galeria {
  min-height: 475px;
  width: 100%;
  margin-top: 100px; }
  .pg-quem-somos .galeria ul {
    min-height: 475px;
    text-align: center;
    width: 100%;
    margin: 50px 0 50px 0;
    list-style: none;
    background: #3d4361;
    padding: 4px 0 0; }
    .pg-quem-somos .galeria ul li {
      max-width: 282px;
      min-height: 225px;
      width: 100%;
      display: inline-block;
      margin: 5px 0; }
      .pg-quem-somos .galeria ul li a {
        display: block;
        background-size: cover !important;
        background-position: center !important;
        min-height: 225px;
        width: 100%; }
        .pg-quem-somos .galeria ul li a:hover .lente {
          background: transparent; }
        .pg-quem-somos .galeria ul li a .lente {
          background: rgba(61, 67, 97, 0.68);
          min-height: 225px;
          width: 100%; }

/*PRODUTOS*/
.pg-produtos .bg-produtos {
  height: 280px;
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  margin-top: 154px; }
.pg-produtos .sidebar {
  min-height: 80px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background: #30415a;
  padding: 20px 0 0; }
  .pg-produtos .sidebar a {
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 270px;
    text-align: center; }
    .pg-produtos .sidebar a:hover {
      font-weight: bold; }
    .pg-produtos .sidebar a:before {
      content: 'Aquecedores de passagem';
      display: block;
      font-weight: bold;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden; }
  .pg-produtos .sidebar .bordas {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-color: #5e6c7f; }
.pg-produtos .produto ul {
  list-style: none;
  margin: 120px 0 0 0;
  padding: 0;
  text-align: center; }
  .pg-produtos .produto ul li {
    width: 100%;
    max-width: 200px;
    min-height: 430px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 40px 40px;
    vertical-align: top; }
    .pg-produtos .produto ul li .foto {
      min-height: 280px;
      background-size: cover !important;
      background-position: center !important;
      display: block; }
    .pg-produtos .produto ul li h2 {
      color: #ae3433;
      margin: 16px 0 6px 0;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase; }
    .pg-produtos .produto ul li p {
      text-align: center;
      margin: 0;
      font-size: 14px;
      color: #30415a; }
    .pg-produtos .produto ul li .ver {
      display: block;
      color: #e39539;
      border: solid 2px;
      border-radius: 15px;
      width: 100%;
      max-width: 120px;
      margin: 0 auto;
      min-height: 30px;
      line-height: 30px;
      font-weight: 700;
      text-decoration: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%); }
      .pg-produtos .produto ul li .ver:hover {
        background: #e39539;
        color: #fff; }

/*PRODUTO*/
.pg-produto .area-produto {
      margin-top: 180px;
  margin-bottom: 100px; }
  .pg-produto .area-produto .foto-produto {
    padding: 40px 0 0;
    min-height: 517px; }
    .pg-produto .area-produto .foto-produto img {
      margin: 0 auto; }
  .pg-produto .area-produto .fotos {
    margin-top: 30px; }
    .pg-produto .area-produto .fotos ul {
      list-style: none;
      margin: 55px 0 0 0;
      padding: 0;
      text-align: center; }
      .pg-produto .area-produto .fotos ul li {
        width: 120px;
        height: 110px;
        display: inline-block;
        border: solid 1px #d69a99; }
  .pg-produto .area-produto .correcaoX {
    padding: 20px; }
  .pg-produto .area-produto .info-produto h2 {
    font-weight: bold;
    font-size: 24px;
    color: #ae3433;
    text-transform: uppercase;
    margin: 0; }
  .pg-produto .area-produto .info-produto span {
    font-size: 22px;
    color: #30415a; }
  .pg-produto .area-produto .info-produto p {
    font-size: 14px;
    color: #30415a;
    font-weight: 400;
    margin: 40px 0 17px 0; }
  .pg-produto .area-produto .detalhe-info-produto {
    margin-bottom: 55px; }
    .pg-produto .area-produto .detalhe-info-produto .aplicacoes p {
      font-size: 22px;
      color: #ae3433;
      font-weight: 100;
      border-bottom: solid 4px #ae3433;
      text-align: center;
      width: 100%;
      max-width: 280px;
      margin: 0 auto; }
    .pg-produto .area-produto .detalhe-info-produto .aplicacoes span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #30415a;
      margin: 10px 60px; }
      .pg-produto .area-produto .detalhe-info-produto .aplicacoes span .icon {
        margin: 5px; }
        .pg-produto .area-produto .detalhe-info-produto .aplicacoes span .icon:before {
          font-size: 30px; }
    .pg-produto .area-produto .detalhe-info-produto .beneficios p {
      font-size: 22px;
      color: #ae3433;
      font-weight: 100;
      border-bottom: solid 4px  #ae3433;
      text-align: center;
      width: 100%;
      max-width: 280px;
      margin: 0 auto; }
    .pg-produto .area-produto .detalhe-info-produto .beneficios span {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #30415a;
      margin: 10px 0; }
      .pg-produto .area-produto .detalhe-info-produto .beneficios span i {
        margin: 5px;
        font-size: 25px; }
  .pg-produto .area-produto .caixa-info {
    margin-top: 62px; }
  .pg-produto .area-produto .danos-tecnicos {
    display: inline-block;
    vertical-align: top; }
    .pg-produto .area-produto .danos-tecnicos .bg {
      min-height: 110px;
      background: #ae3433; }
    .pg-produto .area-produto .danos-tecnicos p {
      font-size: 22px;
      color: #ae3433;
      font-weight: 100;
      padding: 0 20px;
      margin: 0; }
    .pg-produto .area-produto .danos-tecnicos .danos {
      padding: 0 10px; }
      .pg-produto .area-produto .danos-tecnicos .danos span {
        display: block;
        color: #fff;
        font-size: 16px;
        margin: 10px 0; }
  .pg-produto .area-produto .icon1 {
    width: 80px;
    height: 110px;
    background: #30415a;
    line-height: 110px;
    display: inline-block;
    margin-top: 31px; }
    .pg-produto .area-produto .icon1:before {
      color: #d6d9de;
      font-size: 48px; }
.pg-produto .carrossel-produtos {
  margin-top: 50px;
  min-height: 360px;
  position: relative; }
  .pg-produto .carrossel-produtos .item {
    width: 100%; }
  .pg-produto .carrossel-produtos .navegacaoProdutosFrent {
    color: #000;
    width: 70px;
    height: 70px;
    background: #30415a;
    border: 0;
    font-size: 50px;
    text-align: center;
    position: absolute;
    outline: none;
    left: -55px;
    z-index: 2;
    color: #fff;
    top: 20%; }
    .pg-produto .carrossel-produtos .navegacaoProdutosFrent:hover {
      background: #ae3433; }
  .pg-produto .carrossel-produtos .navegacaoProdutosTras {
    color: #000;
    width: 70px;
    height: 70px;
    background: #30415a;
    border: 0;
    font-size: 50px;
    text-align: center;
    position: absolute;
    outline: none;
    right: -55px;
    z-index: 2;
    color: #fff;
    top: 20%; }
    .pg-produto .carrossel-produtos .navegacaoProdutosTras:hover {
      background: #ae3433; }
  .pg-produto .carrossel-produtos .produto ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .pg-produto .carrossel-produtos .produto ul li {
      width: 100%;
      max-width: 200px;
      min-height: 350px;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 0;
      vertical-align: top; }
      .pg-produto .carrossel-produtos .produto ul li .foto {
        background-size: cover !important;
        background-position: center !important;
        display: block; }
        .pg-produto .carrossel-produtos .produto ul li .foto img {
          width: 70%;
          margin: 0 auto; }
      .pg-produto .carrossel-produtos .produto ul li h2 {
        color: #ae3433;
        margin: 16px 0 6px 0;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase; }
      .pg-produto .carrossel-produtos .produto ul li p {
        text-align: center;
        margin: 0;
        font-size: 14px;
        color: #30415a; }
      .pg-produto .carrossel-produtos .produto ul li .ver {
        display: block;
        color: #e39539;
        border: solid 2px;
        border-radius: 15px;
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
        min-height: 30px;
        line-height: 30px;
        font-weight: 700;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        .pg-produto .carrossel-produtos .produto ul li .ver:hover {
          background: #e39539;
          color: #fff; }

/* P├üGINA DE ASSIST├èNCIA T├ëCNICA */
.pg-assistencia-tecnica {
  margin-top: 110px; }
  .pg-assistencia-tecnica .bg-assistencia {
    background-size: cover !important;
    background-position: center !important; }
    .pg-assistencia-tecnica .bg-assistencia .lente {
      min-height: 395px;
      width: 100%;
      background:rgba(48, 65, 90, 0.52);
      padding: 100px 210px;
      margin-top:70px; }
    .pg-assistencia-tecnica .bg-assistencia p {
         font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center; }
    .pg-assistencia-tecnica .bg-assistencia span {
      display: block;
      font-size: 18px;
      color: #fff;
      line-height: 35px; }
  .pg-assistencia-tecnica .logo img {
       margin: 0 auto;
    max-width: 164px;
    margin-top: 70px; }
  .pg-assistencia-tecnica .info p {
    font-size: 25px;
    color: #b13e3d;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 60px;}
  .pg-assistencia-tecnica .info span {
    font-size: 17px;
    font-weight: 500;
    color: #30415a;
    display: block;
    text-align: center; }
  .pg-assistencia-tecnica .info small {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #b13e3d;
    font-weight: 600; }
  .pg-assistencia-tecnica .form {
       position: relative;
    padding: 20px 20px;
    text-align: left;
    max-width: 831px;
    margin: auto;}
    .pg-assistencia-tecnica .form .form-group {
      max-width: 385px;
      width: 100%;
      display: inline-block;
      margin: 25px 4px 0;}
      .pg-assistencia-tecnica .form .form-group .form-control {
        border: 0;
        border: solid 1px #a2a9b5;
        border-radius: 0;
        outline: none;
        font-size: 18px;
        padding:20px 10px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition: none !important;
        -o-transition: border-color none !important;
        transition: border-color none !important;
        border-radius: 3px;
        outline: none !important; }
      .pg-assistencia-tecnica .form .form-group input,
      .pg-assistencia-tecnica .form .form-group textarea {
        outline: none; }
      .pg-assistencia-tecnica .form .form-group ::-webkit-input-placeholder {
        color: #30415a !important;
        text-align: left;
        font-size: 18px; }
      .pg-assistencia-tecnica .form .form-group :-moz-placeholder {
        color: #30415a !important;
        text-align: left;
        font-size: 18px; }
      .pg-assistencia-tecnica .form .form-group ::-moz-placeholder {
        color: #30415a !important;
        text-align: left;
        font-size: 18px; }
      .pg-assistencia-tecnica .form .form-group :-ms-input-placeholder {
        color: #30415a !important;
        text-align: left;
        font-size: 18px; }
    .pg-assistencia-tecnica .form .form-group-mensagem {
      width: 100%;
      min-height: 100px;
      margin: 25px 4px; }
      .pg-assistencia-tecnica .form .form-group-mensagem textarea {
        width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 100px;
        border: solid 1px #a2a9b5; }
      .pg-assistencia-tecnica .form .form-group-mensagem label {
        font-weight: 500;
        font-size: 18px; }
    .pg-assistencia-tecnica .form .enviar {
      border: 0;
      width: 100%;
      max-width: 200px;
      border-radius: 15px;
      background: #b54847;
      font-size: 17px;
      text-align: center;
      height: 32px;
      color: #fff;
      margin: 20px;
      outline: none !important; }
    .pg-assistencia-tecnica .form .wpcf7-validation-errors {
      margin-top: 47px !important;
      border: 2px solid #b54847 !important; }

/*BLOG*/
.pg-blog {
      margin-top: 180px;
  margin-bottom: 50px; }
  .pg-blog .sub-titulo {
    margin: 0; }
  .pg-blog .sidebar {
    padding: 90px 0 25px; }

/*P├üGINA DE POSTAGEM*/
.pg-blog-postagem {
      margin-top: 180px;
  margin-bottom: 50px; }
  .pg-blog-postagem .sidebar {
    padding: 90px 0 25px; }
  .pg-blog-postagem .sub-titulo {
    margin: 0 0 50px; }
  .pg-blog-postagem .area-do-postagem .foto-postagem {
    min-height: 330px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
  .pg-blog-postagem .area-do-postagem h2 {
    font-size: 21px;
    text-transform: uppercase;
    color: #ae3433; }
  .pg-blog-postagem .area-do-postagem span {
    display: block;
    font-size: 14px;
    color: #30415a;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px; }
    .pg-blog-postagem .area-do-postagem span:before {
      content: '';
      display: block;
      background: #c26766;
      color: #8e373d;
      width: 100px;
      height: 3px; }
  .pg-blog-postagem .area-do-postagem p {
    font-size: 15px;
    color: #30415a;
    line-height: 30px;
    margin-top: 40px; }
  .pg-blog-postagem .redes-sociais {
    margin-top: 50px; }
    .pg-blog-postagem .redes-sociais a {
      display: inline-block;
      width: 100%;
      max-width: 40px;
      height: 40px;
      border-radius: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 17px;
      margin: 2px;
      border: solid 2px #2f415a;
      color: #2f415a; }
      .pg-blog-postagem .redes-sociais a:hover {
        border-color: #a23537;
        color: #a23537; }
  .pg-blog-postagem .disqus {
    margin: 50px; }
  .pg-blog-postagem .paginador {
    text-align: center; }
    .pg-blog-postagem .paginador a {
      color: #e39539;
      display: inline-block;
      font-size: 16px;
      margin: 0 5px; }
      .pg-blog-postagem .paginador a:hover {
        font-weight: bold; }

/*P├üGINA DE DEPOIMENTOS*/
.pg-depoimentos {
      margin-top: 180px; }
  .pg-depoimentos .depoimentos {
    margin-top: 50px; }
    .pg-depoimentos .depoimentos .depoimento {
      min-height: 330px;
      width: 100%;
      background-size: cover !important;
      background-position: center !important;
      border-top: solid 1px #fff; }
      .pg-depoimentos .depoimentos .depoimento .lente {
        min-height: 330px;
        width: 100%;
        padding: 100px 100px 0; }
      .pg-depoimentos .depoimentos .depoimento p {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
        position: relative;
        text-align: center; }
      .pg-depoimentos .depoimentos .depoimento span {
        color: #fff;
        display: block;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center; }
      .pg-depoimentos .depoimentos .depoimento small {
        color: #fff;
        font-size: 14px;
        display: block;
        font-style: italic;
        text-align: center; }
  .pg-depoimentos .paginador {
    text-align: center;
    margin: 50px 0; }
    .pg-depoimentos .paginador a {
      color: #000;
      width: 70px;
      height: 70px;
      background: #30415a;
      border: 0;
      font-size: 50px;
      text-align: center;
      display: inline-block;
      outline: none;
      left: -55px;
      z-index: 2;
      color: #fff;
      top: 20%; }
      .pg-depoimentos .paginador a:hover {
        background: #ae3433; }

/* CONTATO */
.pg-contato {
      margin-top: 180px; }
  .pg-contato .titulo {
    margin-bottom: 35px; }
  .pg-contato .contato .info-contato {
    background-size: cover !important;
    background-position: center !important;
     }
    .pg-contato .contato .info-contato .logo {
      text-align: center;
    max-width: 425px;
    margin: 0 auto; }
      .pg-contato .contato .info-contato .logo img {
        width: 100%;
        height: auto;
        max-width: 152px;
          margin-top:85px;}
      .pg-contato .contato .info-contato .logo p {
        color: #b13e3d;
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        max-width: 350px;
        margin: 10px auto 0; }
      .pg-contato .contato .info-contato .logo span {
        font-size: 18px;
        color: #30415a; }
    .pg-contato .contato .info-contato .endereco {
        bottom: 0;
    margin-top: 114px;
    /* padding: 0 30px; */
    max-width: 416px;
    margin: 0 auto;
    margin-top: 80px; }
      .pg-contato .contato .info-contato .endereco ul {
        padding: 0;
        list-style-type: none; }
      .pg-contato .contato .info-contato .endereco span {
        display: inline-block;
        vertical-align: top; }
      .pg-contato .contato .info-contato .endereco span:before {
        margin-right: 20px;
        font-size: 26px;
        color: #30415a; }
      .pg-contato .contato .info-contato .endereco p {
        display: inline-block;
        max-width: 350px;
        font-size: 18px;
        color: #30415a;
        font-weight: 400; }
  .pg-contato .contato .form-contato {
       max-width: 668px;
    width: 100%;
    /* float: right; */
    text-align: left;
    display: block;
    margin: 50px auto;
    padding: 20px 0; }
    .pg-contato .contato .form-contato p {
      font-weight: 900;
      font-size: 18px;
      color: #b13e3d;
      text-transform: uppercase;
      width: 100%;
      text-align: center; }
    .pg-contato .contato .form-contato .subt {
      font-weight: 400;
      font-size: 18px;
      color: #30415a;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
      display: block; }
    .pg-contato .contato .form-contato .form-group {
      }
      .pg-contato .contato .form-contato .form-group label {
        display: block;
        display: inline-block;
        max-width: 50%;
        font-size: 18px;
        color: #30415a;
        font-weight: 400;
        min-width: 165px; }
      .pg-contato .contato .form-contato .form-group input {
       border: none;
    display: inline-block;
    width: 100%;
    /* max-width: 208px; */
    outline: none !important;
    border: 1px solid #30415a;
    margin-bottom: 10px;
    padding: 10px;
    display: block;border-radius: 3px; }
        .pg-contato .contato .form-contato .form-group input:focus {
          box-shadow: 0 0 5px #6db5f1;
         
        }
         
        .pg-contato .contato .form-contato .form-group input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
         font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group input:-moz-placeholder { /* Firefox 18- */
         font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group input::-moz-placeholder {  /* Firefox 19+ */
          color: #6db5f1;
          font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group input:-ms-input-placeholder { /* IE10+ */ 
        font-size: 18px;
        color: #30415a;
        font-weight: 400; 
        }
        .pg-contato .contato .form-contato .form-group input:focus {
          outline: none; }
      .pg-contato .contato .form-contato .form-group textarea {
        display: block;
        resize: none;
        width: 100%;
        height: 95px;
        border-color: #30415a;
        padding-left: 10px; }
         .pg-contato .contato .form-contato .form-group textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
         font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group textarea:-moz-placeholder { /* Firefox 18- */
         font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group textarea::-moz-placeholder {  /* Firefox 19+ */
          color: #6db5f1;
          font-size: 18px;
        color: #30415a;
        font-weight: 400;
        }
         
        .pg-contato .contato .form-contato .form-group textarea:-ms-input-placeholder { /* IE10+ */ 
        font-size: 18px;
        color: #30415a;
        font-weight: 400; 
        }
    .pg-contato .contato .form-contato .botao {
      width: 200px;
      height: 32px;
      background: #b54847;
      color: #fff;
      text-align: center;
      border: 0;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 100;
      outline: none !important; }
  .pg-contato .contato .wpcf7-validation-errors {
    margin-top: 47px !important;
    border: 2px solid #b54847 !important; }
.page-template-contato .rodape .bg-fundo{
  display: none;
}
/*MEDIA */
@media (max-width: 1440px) {
  .topo .navbar .navbar-header .navbar-collapse ul li a {
    margin: 0 10px; }

  .topo .logo a h1 {
    width: 160px;
    height: 200px; }

  .topo .logo a {
    width: 160px;
    height: 200px;
    top: -21px; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul li a {
    margin: 0 10px; }

  .paginas-internas .logo a h1 {
        width: 86px;
    height: 111px; }

  .paginas-internas .logo a {
    width: 160px;
    height: 200px; }

  .pg-quem-somos .galeria ul li {
    max-width: 232px; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul {
    left: 10px !important; }

   }
@media (max-width: 1200px) and (min-width: 990px) {
  .pg-contato .contato .form-contato {
    padding-left: 30px; } }
@media (max-width: 1024px) {
  .topo .navbar .navbar-header .navbar-collapse ul li a {
    margin: 0; }

  .topo .info-contato .correcaoX {
    margin-left: inherit; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul li a {
    margin: 0; }

  .pg .produtos ul li {
    max-width: 310px; }

  .pg-produto .area-produto .detalhe-info-produto .aplicacoes span {
    margin: 10px; }

  .pg-produto .area-produto .fotos ul li {
    width: 96px;
    height: 90px; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul {
    left: 0px !important; }

  .pg-produto .area-produto .icon1 {
    width: 100%;
    margin-top: 0;
    text-align: center; }

  .pg-produto .area-produto .danos-tecnicos {
    width: 100%; } }
@media (max-width: 991px) {
  .pg-contato {
    margin-bottom: 0px; }

  .pg-contato .contato .form-contato {
    float: none;
    padding: 0 10px;
    margin: 50px auto; }

  .topo .logo a {
    position: inherit !important;
    top: 0 !important; }

  .navbar-header {
    padding-left: 45px; }

  .rodape .area-info-rodape {
    text-align: center; }

  .rodape .bg-fundo .form-rodape {
    max-width: 100%;
    text-align: center; }

  .rodape .bg-fundo .form-rodape p {
    text-align: center; }

  .rodape .bg-fundo .form-rodape p:before {
    margin: 0 auto; }

  .rodape .form-group {
    margin-bottom: 15px;
    max-width: 410px;
    margin: 10px auto; }

  .rodape .bg-fundo .logo-rodape img {
    margin: 0 auto; }
    .paginas-internas .logo a {
    width: 160px;
    height: 117px; }
    .navbar-nav>li{
      margin: 0 5px;
     }
    }
@media (max-width: 768px) {
  .topo .logo a {
    position: inherit;
    margin-top: 20px; }
    .paginas-internas{
          position: inherit;
    }
    .carrossel{
      top: 0;
    }

  .pg .mais-vistos ul li a .foto {
    margin: 0 auto; }

  .pg-contato .contato .info-contato .logo {
    padding-left: 0; }

  .pg-contato .contato .info-contato .endereco {
    width: 100%;
    text-align: center; }

  .topo .info-contato {
    line-height: 24px; }

  .topo .info-contato {
    text-align: center; }

  .topo .navbar {
    margin: 0; }

  .paginas-internas .logo a {
    position: inherit;
    margin-top: 25px; }

  .paginas-internas .navbar {
    margin: 0; }

  .rodape .bg-fundo .logo-rodape img {
        height: 277px;
   }

  .pg .produtos ul li {
    max-width: 237px; }

  .pg-inicial .info-oque-fazemos .info span {
    margin: 10px auto;
    text-align: center; }

  .pg-inicial .info-oque-fazemos .info .correcaoX {
    padding: inherit; }

  .pg .frase {
    padding: 10px; }

  .pg-quem-somos .galeria ul li {
    max-width: 315px; }

  .pg-quem-somos .foto-quem-somos {
    padding: 0; }

  .pg-quem-somos .foto-quem-somos .foto .subtitulo {
    text-align: center; }

  .pg-quem-somos .foto-quem-somos .foto .subtitulo::after {
    margin: 0 auto; }

  .info-produto, .aplicacoes {
    text-align: center; }

  .pg-assistencia-tecnica .form {
    text-align: center; }

  .pg-assistencia-tecnica .form .form-group-mensagem {
    max-width: 385px;
    margin: 0 auto; }

  .pg-assistencia-tecnica .form .enviar {
    position: inherit; }

  .pg-assistencia-tecnica .bg-assistencia .lente {
    padding: 100px 45px; }

  .pg-blog .mais-vistos {
    max-width: inherit;
    text-align: center; }

  .pg-blog .mais-vistos::after {
    margin: 31px auto 0; }

  .pg .mais-vistos {
    max-width: inherit;
    text-align: center; }

  .pg .mais-vistos::after {
    margin: 31px auto 0; }

  .pg-blog .mais-vistos ul li {
    display: inline-block; }

  .pg-blog .sidebar {
    max-width: 224px; }

  .pg-blog-postagem .mais-vistos {
    max-width: inherit; }

  .pg-blog-postagem .mais-vistos ul li {
    display: inline-block; }

  .pg-blog-postagem .sidebar {
    max-width: 224px; }

  .pg-blog-postagem .redes-sociais {
    text-align: center; }

  .paginas-internas .info-contato {
    text-align: center; }

  .pg-inicial .carrossel-depoimentos .item p i {
    left: -40px !important; }

  .pg-inicial .info-oque-fazemos .info {
    text-align: center;
    margin: 0 auto; }

  .pg-inicial .carrossel-depoimentos a {
    bottom: 17px; }

  .navbar-header {
    padding-left: 0; } }
@media (max-width: 450px) {
  .pg-contato .contato .info-contato .endereco p {
    max-width: 235px; }

  .paginas-internas .logo a {
    position: inherit;
    margin-top: 42px; } }
@media (max-width: 425px) {
  .rodape .bg-fundo .logo-rodape img {
    margin: 0 auto; }

  .rodape .bg-fundo .form-rodape {
    padding: 30px 20px; }

  .rodape .correcaoX {
    text-align: center; }

  .rodape .area-info-rodape .redes-sociais {
    margin: 40px 0; }

  .rodape .area-info-rodape .mapa {
    margin: 35px auto; }

  .copyright p {
    line-height: 20px; }

  .carrossel .item .descicao {
    left: 7%;
    bottom: 20%; }

  .navbar-nav {
    background: rgba(255, 255, 255, 0.78);
    margin-top: 38px; }

  .topo .navbar .navbar-header .navbar-collapse ul li a {
    color: #000; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul li a {
    color: #36475f; }

  .paginas-internas .dropdown ul li a {
    color: #fff !important; }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #36475f; }

  .navbar-collapse.in {
    overflow-y: inherit; }

  .paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul {
    width: 300px; }

  .pg .produtos ul li {
    max-width: inherit; }

  .pg-inicial .texto-quem-somos a {
    position: inherit; }

  .pg-inicial .carrossel-depoimentos .item p i {
    left: -45px !important; }

  .pg .area-blog ul li {
    margin: 0; }

  .pg-inicial .carrossel-depoimentos .item .lente {
    padding: 100px 50px 0; }

  .pg-quem-somos .foto-quem-somos .foto .info p .icon {
    margin: 0; }

  .pg-produto .area-produto .icon1 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0; }

  .pg-produto .area-produto .danos-tecnicos {
    display: block;
    text-align: center; }

  .pg-assistencia-tecnica .bg-assistencia .lente {
    padding: 100px 24px; }

  .pg-blog-postagem .area-do-postagem p {
    padding: 20px; }

  .pg-blog-postagem .area-do-postagem h2 {
    text-align: center; }

  .pg-blog-postagem .area-do-postagem span {
    text-align: center; }

  .pg-blog-postagem .area-do-postagem span:before {
    margin: 0 auto; }

  .depoimentos .depoimento .lente {
    padding: 100px 40px 0; }

  .pg-depoimentos .depoimentos .depoimento .lente {
    padding: 100px 40px 0; }

  .topo .navbar .navbar-header .navbar-collapse ul .dropdown ul li a {
    color: #fff; }
    .carrossel .item{
      height: 320px;
      min-height: inherit;
      }
      .carrossel .item .lente{
          height: 320px;
      min-height: inherit;
        } }
@media (max-width: 320px) {
  .carrossel .item .descicao {
    bottom: 15%;
    left: 1%; }

  .paginas-internas .logo a {
    margin-top: 165px; }

  .topo .logo a {
    margin-top: 45px; } }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: transparent !important;
  color: #c26766 !important; }

/*# sourceMappingURL=site.css.map */

.class_name .info-contato{
  opacity: 0;
}
.class_name .logo a h1{
  width: 80px;
  margin: 0 auto;
  height: 104px;
}
.class_name  .correcaoY{
  padding-top: 54px;
}
.class_name .navbar{
  margin: 0;
}
.class_name.paginas-internas{
  min-height:0;
}
.linkBanner{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.pg-inicial .produto ul {
  list-style: none;
  margin:0 0 0 0;
  padding: 0;
  text-align: center; }
  .pg-inicial .produto ul li {
    width: 100%;
    max-width: 200px;
    min-height: 300px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 40px 75px;
    vertical-align: top; }
    .pg-inicial .produto ul li .foto {
      min-height: 280px;
      background-size: cover !important;
      background-position: center !important;
      position: relative;
      display: block; }
    .pg-inicial .produto ul li h2 {
          color: #fff;
    margin: 16px 0 6px 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; }
    .pg-inicial .produto ul li p {
       text-align: center;
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;}
    .pg-inicial .produto ul li .ver {
      display: block;
      color: #e39539;
      border: solid 2px;
      border-radius: 15px;
      width: 100%;
      max-width: 120px;
      margin: 15px auto 0;
      min-height: 30px;
      line-height: 30px;
      font-weight: 700;
      text-decoration: none;
    }
      .pg-inicial .produto ul li .ver:hover {
        background: #e39539;
        color: #fff; }
        .pg-inicial .produto{
            margin-bottom: 100px;}

        .areaTexto{
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          height: 100%;
          text-align: center;
          padding-top: 90px;
          top: 0;
          left: 0;
          opacity: 0;
         transition:All .3s ease;
          -webkit-transition:All .3s ease;
          -moz-transition:All .3s ease;
          -o-transition:All .3s ease;
        }
         .pg-inicial .produto ul li:hover .areaTexto{
          opacity: 1;
          transition:All .3s ease;
          -webkit-transition:All .3s ease;
          -moz-transition:All .3s ease;
          -o-transition:All .3s ease;
         }
         .catalago{
          display: block;
      color: #e39539;
      border: solid 2px;
      border-radius: 15px;
      width: 100%;
      max-width: 120px;
      min-height: 30px;
      line-height: 30px;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      text-decoration: none;
         }
          .catalago:hover{
             background: #e39539;
        color: #fff
          }
          .mapaContato{
            display: block;
            width: 100%;
            border: solid #ccc 1px;
            height: 330px;
          }
.page-template-template-pagesassistencia-tecnica-php .rodape .bg-fundo{
  display: none;
}