﻿/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1.1)
--------------------------------------------
** IMPORTS
** VARIÁVEIS
** ESTILOS GERAIS PARA AS PÁGINAS
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

@import 'classes';

/*VARIAVEIS*/

// CORES
$padrao:#36475f;

body{
	font-family: 'Open Sans';
	font-size:14px;
	position: relative;
}
/*TOPO*/
	// CORREÇÕES TOPO
	.nav>li>a:hover, .nav>li>a:focus{
		background-color:transparent!important;
	}
	#ativo{
		color:#c26766;
		font-weight:bold;
	}
	.topo{
		position:absolute;
		top: 0;
		min-height:800px;
		width: 100%;		
		.correcaoY{
			padding-top: 65px;

		}
		.info-contato{	
			position: absolute;		
			z-index:2;
			top: 0;
			min-height:50px;
			background:rgba(54, 71, 95, 0.63);
			width: 100%;
			text-align:center;
			line-height:50px;
			p{
				color:#fff;
				margin:0;
				display:inline-block;
				font-size:14px;
				margin:0 20px;
			}
			.correcaoX{
				margin-left: 30px;
			    margin-left: 29%;
			}
			.container{
			    width: 1334px;
			}
		}	
		.logo{
			z-index:2;
			position:relative;
			a{
				z-index:2;
				display: block;
				width: 200px;
				margin: 0 auto;
				height: 255px;
				text-align: center;
				position: absolute;
				right: 0;
				top: -37px;
				&:before{
					display: block;
					content: attr(title);
					font-weight: bold;
					position: absolute;
					bottom: -30px;
					width: 297px;
					font-size: 20px;					
					-webkit-transform: translateX(-50%);
					-moz-transform: translateX(-50%);
					-o-transform: translateX(-50%);
					left: 50%;
					transform: translateX(-50%);
					color: #30415a;
					font-family: 'Sriracha';
					font-weight: 100;
				}
				h1{				
					width: 200px;
					margin: 0 auto;
					height: 250px;
					text-indent: -9999em;
					background: url(../img/logo3b.png) no-repeat;
					background-size:cover!important;
				}
			}
		}
		.navbar{
			z-index:2;
		    margin: 50px 0 0;
			.navbar-toggle{
				border:solid 1px #fff;
				margin:0 20px;
				.icon-bar{
					background:#fff;
				}	
			}
			.navbar-header{
				.navbar-collapse{
					ul{
						li{
							a{
								color:#fff;
								text-transform:uppercase;
								font-size: 17px;
							    margin: 0 20px;
							    font-weight:100;
							    padding: 10px 6px;
							    &:hover{
									color:#b13e3d!important;
									
								}
								
							}
						}
						.dropdown{
							a{}
							ul{
								background:$padrao;								
								margin:0;								
								min-height:145px;
								padding:10px 0 0 0 ;	
								width: 335px;
							    left: 20px!important;
								li{

									a{
										border-bottom:solid 1px #fff;
										display:block;
										text-align:left;									
										min-height:40px;
										margin:10px 0;
										
										line-height:40px;
									    
										&:hover{
											color:#b13e3d;
											font-weight:bold!important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.carrossel{
		position:relative;
		width:100%;
		top: 0;			
		
		.botoes-destaque{
			z-index:2;
			width:100%;
			position:absolute;
		 	top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			.navegacaoDestqueFrent{
				color: #000;
				width: 70px;
				height: 70px;
				background: rgba(255, 255, 255, 0.55);
				border: 0;
				font-size: 50px;
				text-align: center;
				position:absolute;
				outline:none;
				left:0;

				&:hover{
					background:#30415a;
					color:#fff;
				}
				&:hover img{
				 	opacity:1;
				 	transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
				img{
					position: absolute;
					left: 69px;
					height: 72px;
					top: 0;
					opacity:0;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
			}
			.navegacaoDestqueTras{
				color: #000;
				width: 70px;
				height: 70px;
				background: rgba(255, 255, 255, 0.55);
				border: 0;
				font-size: 50px;
				text-align: center;
				position:absolute;
				right:0;
				z-index:2;
				outline:none;
				&:hover{
					background:#30415a;
					color:#fff;
				}
				&:hover img{
					opacity:1;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
				img{
					position: absolute;
					right: 69px;
					height: 72px;
					top: 0;
					opacity:0;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
			}
		}
		.item{			
			display:block;
			width:100%;
			min-height:800px;				
			background-size:cover!important;
			position:relative;
			.lente{
				display: block;
				min-height:800px;
				background:rgba(0, 0, 0, 0.2);
			}
			.foto-anterior{
				position: absolute;
				background-size: cover!important;
				background-position: center!important;
				top: 50%;
				left: 70px;
				width: 70px;
				height: 70px;
				display: none;				
			}
			.foto-posterior{
				position: absolute;
				background-size: cover!important;
				background-position: center!important;
				top: 50%;
				right: 70px;
				width: 70px;
				height: 70px;
				display: none;
			}
			.descicao{ 	
				position: absolute;
				width: 100%;				
				width: 100%;
				max-width: 317px;
				background: rgba(255, 255, 255, 0.46);
				bottom: 24%;
				left: 27%;
				color: #30415a;
				padding: 15px;
				-webkit-border-top-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-topright: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-top-right-radius: 5px;
				border-bottom-left-radius: 5px;
				
				h2{
					text-transform:uppercase;
					font-size:33px;
					font-weight:100;
					color:#30415a;
					border-bottom:solid #ac5455;
					font-weight: 400;
				}
				p{
					font-size:22px;
					font-weight:100;
					color:#30415a;
				}
				a{
					background:transparent;
					border-color:#30415a;
					color:#30415a;
					border-radius:12px;
					border:solid 2px;
					display:inline-block;
					width: 140px;
					height: 30px;
					text-align:center;
					line-height:25px;
					text-decoration:none;
					&:hover{
						color:#fff !important;
						border-color:#30415a;
						background:#30415a;
					}
				}
			}
		}
		.owl-dots{
				display:inline-block;
				text-align:center;
				position:absolute;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				bottom:0;
			span{
				display: block;
				border:solid 1px #fff;
				width: 15px;
				height: 15px;
				border-radius: 100%;
				margin: 5px;					
				bottom: 0;
				left: 50%;
				background:transparent;
			}
		}	
		.owl-dot.active{
			 span{
			 	background:#fff;
			 }
		}
	}

/*TOPO PÁGINAS INTERNAS*/
	.paginas-internas{
		position:relative;
		min-height: 175px;
		// background:#f0f0f0;
		margin-bottom:0;
		.info-contato{
			position: absolute;									
			z-index:2;
			top: 0;
			min-height:50px;
			background:$padrao;
			width: 100%;
			text-align:center;
			line-height:50px;			
			p{
				color:#fff;
				margin:0;
				display:inline-block;
				font-size:14px;
				margin:0 20px;
			}
			.correcaoX{
				margin-left: 30px;
			    margin-left: 29%;
			}
		}			
		.logo{
			z-index:2;
			position:relative;
			a{
				z-index:2;
				display: block;
				width: 134px;
    			margin: 0 auto;
    			height: 173px;
				text-align: center;
				position: absolute;
				right: 0;
				top: -37px;
				h1{				
				width: 134px;
   				margin: 0 auto;
   				height: 173px;
					text-indent: -9999em;
					background: url(../img/logo3b.png) no-repeat;
					background-size:cover!important;
				}
				

			}
		}
		.cor-background{
			background:#f0f0f0;
			min-height:105px;
			padding-top: 50px;
		}
		.navbar{
			z-index:2;
		    margin: 50px 0 0;
			.navbar-toggle{
				border:solid 1px $padrao;
				margin:0 20px;
				.icon-bar{
					background:$padrao;
				}	
			}
			.navbar-header{
				.navbar-collapse{
					ul{
						li{
							a{
								color:#b13e3d;
								text-transform:uppercase;
								font-size: 17px;
							    margin: 0 20px;
							    font-weight:400;
							    border-bottom:solid transparent;
							    &:hover{
									border-bottom:solid #b13e3d;									
								}								
							}
						}
						.dropdown{
							a{}
							ul{
								background:$padrao;								
								margin:0;								
								min-height:145px;
								padding:10px 0 0 0 ;	
								width: 335px;
							    left: 20px!important;
								li{

									a{
										border-bottom:solid 1px #fff;
										display:block;
										text-align:left;									
										min-height:40px;
										margin:10px 0;
										
										line-height:40px;
									    
									    color:#fff;
										&:hover{
											color:#b13e3d;
											font-weight:bold!important;
										}
									}
								}
							}
						}
					}
				}
			}
		}	
		.ativo{
			color:#c26766;
			font-weight:bold;
		}	
	}

/*FOOTER*/
	.rodape{
		margin-top:20px;
		.bg-fundo{
			min-height:260px;
			background:url(../img/bg-rodape.png);
			background-size:cover!important;
			.logo-rodape{
				text-align:center;
				img{
					
				    height: 277px;
				}
			}
			.form-rodape{
				padding:30px 0;
				width: 100%;
				max-width:420px;
				text-align:right;
				
				p{
					color:#fff;
					font-weight:100;
					font-size:16px;
					text-align:left;
					margin-bottom:35px;
					&:before{
						content: '';
						display: block;
						background: #8e373d;
						color: #8e373d;
						width: 110px;
						height: 3px;
					}
					b{
						small{}
					}
				}
				.form-group{
					.form-control{
						background:transparent;
						border:solid 1px #fff;
						border-radius:15px;
						height:35px;
						color:#fff;
						-webkit-box-shadow: none!important;
						box-shadow: none!important;
						-webkit-transition:none!important;
						-o-transition: border-color none!important;
						transition: border-color none!important;
						outline:none!important;
					}
					input,
					textarea {
						
					}

					::-webkit-input-placeholder {
						color: #fff!important;
						
					}

					:-moz-placeholder {
						color: #fff!important;
						
					}

					::-moz-placeholder {
						color: #fff!important;  
						
					}

					:-ms-input-placeholder {  
						color: #fff!important;  
						
					}	
				}
				.enviar{
					width: 200px;
					height: 35px;
					background:#a23537;
					color:#fff;
					text-align:center;
					border:0;
					border-radius:15px;
					font-size:17px;
					font-weight:100;
					outline:none!important;
				}
			}
		}
		.area-info-rodape{
			margin-top:10px;
			background:url(../img/fundo-rodape.png);
			min-height:600px;
			width: 100%;
			background-size:cover!important;
			padding:128px 0 0;
			.subtitulo{
				text-transform:uppercase;
				font-weight:900;
				color:#a23537;	
				font-size:34px;	
				line-height:36px;
				margin-bottom:40px;
				span{
					text-transform:lowercase;
					font-weight:100;
					font-size:34px;
					display:block;	
					small{
						text-transform:uppercase;
						font-weight:100;
						font-size:34px;	
					}
				}
			}
			.endreco{
				p{
					font-size:16px;
					color:#2f415a;
				    font-weight: 600;
				}
				.rua{
					margin:0;
				}
				.bairro{
					margin:0 0 10px;
				}
			}
			.redes-sociais{
				margin-top:120px;
				a{
					display:inline-block;
					width: 100%;
					max-width:60px;
					height:60px;
					border-radius:100%;
					text-align:center;
					line-height:60px;
					font-size:27px;
					margin:5px;
					border:solid 2px #2f415a;
					color:#2f415a;
					&:hover{
						border-color:#a23537;
						color:#a23537;
					}


					i{}
				}
			}
			.titulomapa{
				span{
					display:inline-block;
				}
			}
			.mapa{
				text-align:left;
				width: 100%;
				max-width: 160px;
				margin: 0 auto;

				a{
					display:block;
					font-size:16px;
					color:#2f415a;
				    font-weight: 600;
				    margin:5px 0;
				}
			}
		}
	}
	.formError{
		position:inherit!important;
		margin-bottom: 10px!important;
	}
	.copyright{
		background:#a23537;
		text-align:center;
		min-height:50px;
		line-height:50px;
		i{
			color:#fff;
			display:inline-block;
		}
		p{
			color:#fff;
			font-size:15px;
			font-weight:100;
			display:inline-block;
			margin:0;
			span{
				text-transform:uppercase;
				font-weight:500;
			}
		}
	}
	.widget_wysija_cont .updated, .widget_wysija_cont .login .message{
		background-color: #fff!important;
		border-color: #a23537!important;
	}

/*LINK ATIVO*/
	.home #inicio{
		color:#c26766;
		font-weight:bold;
	}
	.page-template-quem-somos #quem-somos{
	    border-bottom: solid #b13e3d;
	}
	.post-type-archive-produto #produto{
	    border-bottom: solid #b13e3d;
	}
	.tax-categoriaProduto #produto{
	    border-bottom: solid #b13e3d;
	}
	.single-produto #produto{
	    border-bottom: solid #b13e3d;
	}
	.page-template-assistencia-tecnica #tecnica{
	    border-bottom: solid #b13e3d;
	}
	.blog #blog{
	    border-bottom: solid #b13e3d;
	}
	.category #blog{
	    border-bottom: solid #b13e3d;
	}
	.single-post #blog{
	    border-bottom: solid #b13e3d;
	}
	.post-type-archive-depoimentos #depoimento{
	    border-bottom: solid #b13e3d;
	}
	.page-template-contato #contato{
	    border-bottom: solid #b13e3d;
	}

/*PG*/
	.pg{		
		.bg-produtos{
			height:280px;
			background-size:cover!important;
			background-position:center!important;
			width:100%;
			margin-top:20px;
		}
		.sidebar-produtos{
			min-height:80px;
			width:100%;
			margin-top:20px;
			text-align:center;
			background:#30415a;
		    padding: 20px 0 0;
			a{
				display:inline-block;
				min-height: 40px;
				line-height: 40px;
				font-size:16px;
				color:#fff;				
				text-transform:uppercase;
				text-decoration:none;
			    width: 270px;
			    text-align:center;
				&:hover{
					font-weight:bold;
				}
				&:before{
					content:'Aquecedores de passagem';					
					display: block;
					font-weight: bold;
					height: 1px;
					color: transparent;
					overflow: hidden;
					visibility: hidden;
				}

			}
			.bordas{
				border-left:solid 1px #ccc;
				border-right:solid 1px #ccc;
				border-color:#5e6c7f;
			}
		}
		.titulo{			
			text-align:center;
			p{
				text-transform:uppercase;
				font-size:32px;
				color:#2f415a;
			}
			&:after{
				content: '';
				display: block;
				background: #c26766;
				color: #8e373d;
				width: 110px;
				height: 3px;
				margin:0 auto;

			}

			
		}
		.frase{
			display:block;
			text-align:center;
			font-size:14px;
			color:#ae3433;
			margin-top:27px;
		}
		.sub-titulo{
			text-align:center;
		    margin-top: 120px;

			p{
				text-transform:uppercase;
				font-size:32px;
				color:#2f415a;
			}
			h2{
				text-transform:uppercase;
				font-size:32px;
				color:#2f415a;
			}
		}
		// BLOG
		.area-blog{
			ul{
				list-style:none;
				margin:50px 0 0 0;
				padding:0;
				width:100%;
				text-align:center;
				min-height:310px;
				li{
					max-width: 300px;
					width: 100%;
					min-height: 325px;
					background-size:cover!important;
					background-position:center!important;
				    margin: 0 38px;
					display:inline-block;
					vertical-align:top;
					
					a{
						position:relative;
						width: 300px;
						height: 190px;
						background-size:cover!important;
						background-position:center!important;
						display:block;
						text-decoration:none;
						.lente{
							width: 215px;
						    height: 95px;
						    margin: 0 auto;
						    padding: 5px;
						    position:absolute;
						    top: 50%;
  							left: 50%;
  							transform: translate(-50%, -50%);  							
							-moz-transform:translate(-50%, -50%);
							-moz-transform:translateY(-50%);
							-o-transform:translateY(-50%);
							-o-transform:translate(-50%, -50%);
							transition: all 1s ease;
							-webkit-transition: all 1s ease;
							-moz-transition: all 1s ease;
							-o-transition: all 1s ease;
						}
						&:hover .lente{
							width: 300px;
    						height: 190px;
						}
						
						h4{
							font-size: 20px;
							font-weight: 100;
							color: #fff;							
							text-align: left;
						    line-height: 27px;
						    text-transform:uppercase;
						    margin:0;
						    width: 210px;
						    height: 90px;
						   
						}						
					}
					span{
						display:block;
						text-align:left;
						text-transform:uppercase;
						color:#30415a;
					    font-size: 20px;

						b{
							font-weight:800;
						    font-size: 20px;
						}
					}
					p{
						text-align:left;
						font-size:15px;
						color:#30415a;
					    margin: 10px 0 0px 0;

					}	
					.ver-mais{
						font-size:12px;
						font-weight:bold;
						color:#e39539;
						text-align:left;
						height: 20px;
					}			
				}
			}
		}
		//SIDEBAR-BLOG
		.sidebar{
			background:transparent;
			max-width: 180px;
   		  	margin: 0 auto;
   		  	min-height: 200px;
   		  	position: relative;
   		  	width: 100%;
   		  	padding: 20px 0 0;
   		  	text-align: center;
   		  	&:after{
				content: '';
				display: block;
				background: #c26766;
				color: #8e373d;
				width: 100px;
				height: 3px;
				margin-top:10px;
				bottom:0;			

			}
			p{
				color:$padrao;
				text-transform:uppercase;
				font-size:18px;
				font-weight:800;
				text-align:left;
			}
			a{
				color:$padrao;
				text-transform:capitalize;				
				position:relative;				
    			padding: 0 20px;    			
    			margin:0 auto;
    			text-align:left;
    			display: inline-block;
   		 		min-height: 40px;
    			line-height: 40px;
    			font-size: 16px;
        		text-decoration: none;
   				 width: 270px;
				&:hover{
					font-weight:bold;
				}

				&:before{
					content:'';
					background:#b54847;
					width:10px;
					height:10px;
					display:block;
					border-radius:100%;					
					overflow: visible;
					visibility: visible;
					position: absolute;
    				left: 0;
    				top: 50%;
  					transform: translateY(-50%);
					-webkit-transform:translateY(-50%);
					-moz-transform:translateY(-50%);
					-o-transform:translateY(-50%);
				}
			}
		}
		.mais-vistos{
			max-width: 180px;
   		  	margin: 100px  0 0;
   		  	min-height: 200px;
   		  	position:relative;
		  	padding: 0 0 25px 0;
   		  	&:after{
				content: '';
				display: block;
				background: #c26766;
				color: #8e373d;
			    width: 120px;
				height: 3px;
				margin-top:10px;
				bottom:0;
			 //  	left: 50%;
				// transform: translate(-50%, -50%);
				// -webkit-transform:translate(-50%, -50%);
				// -moz-transform:translate(-50%, -50%);
				// -o-transform:translate(-50%, -50%);		

			}
			p{
				color:$padrao;
				text-transform:uppercase;
				font-size:18px;
				font-weight:800;
				// text-align:center;
				
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				// text-align: center;
				li{
					margin:10px 0 0 0!important;
					a{
						.foto{
							width:125px;
							height: 95px;
							background-size:cover!important;
							background-position:center!important;
							border:solid 1px #d79b9a;
							//margin:0 auto;
						}
						p{
							font-size:15px;
							color:#30415a;
							font-weight:600;
							margin:0;
							padding:0 0 0 5px;
							// text-align:center;

						}
						span{
							font-size:15px;
							color:#30415a;
							font-weight:700;
							padding:0 0 0 5px;
						}
					}
				}
			}
		}
		//PRODUTOS
		.produtos{
			margin-top:50px;
			margin-bottom:100px;
			ul{
				list-style:none;
				min-height:380px;
				margin:0;
				padding:0;
				li{
				    max-width: 377px;
				    width:100%;
					min-height:380px;
					display:inline-block;
					background-size:cover!important;
					background-position:center;
					margin:0;
					padding:0;
					vertical-align: bottom;
					&:hover a{
						min-height:95px;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}
					a{
						text-decoration:none;
						background:rgba(255, 255, 255, 0.75);
						display:block;
						min-height:380px;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
						&:hover{

						}
						.lente{
							h2{
								font-size:28px;
								margin:0;
								text-transform:uppercase;
							    font-weight: bold;
							    color:$padrao;
							    padding:10px 10px;

								&:after{
									content: '';
									display: block;
									background: #8e373d;
									color: #8e373d;
									width: 110px;
									height: 3px;
									

								}
								p{
									font-weight:100;
								}
							}
						}
					}	
				}
			}
		}
		.paginador{
			ul{
				list-style:none;
				margin:0;
				padding:0;
				text-align:center;
				li{
					display:inline-block;
					margin:0 5px;
					a{
						color:#e39539;
						font-size:20px;
						&:hover{
							font-weight:bold;
						}
						i{
							display:block;
							width: 32px;
							height: 37px;
							background:#e39539;
							color:#fff;
							line-height:37px;
						}
					}
				}
			}
		}	
	}

/* PÁGINA INICIAL*/
	.pg-inicial{
		padding:70px 0 0;
		.texto-quem-somos{
			position:relative;
			padding:20px;
			width:100%;
			min-height:160px;
			p{
				font-size:18px;
				color:#6c7585;
				font-weight:400;
				text-align:left;
			}
			a{
				width:120px;
				height: 30px;
				display:block;
				text-align:center;
				line-height:30px;
				color:#30415a;
				border:solid 1px #30415a;
				border-radius:15px;
				font-size:20px;
				position:absolute;
				right:0;
				margin:0 20px;
				&:hover{
					background:#30415a;
					color:#fff;
				}
				i{}
			}
		}
		.altura{
			min-height:365px;
			background:#e7e7e7;
		}
		.foto-oquefazemos{
			background-size:cover!important;
			background-position:center!important;	
			min-height:365px;
			width:100%;
		}	
		.info-oque-fazemos{
			background:#e7e7e7;
			padding:20px;
			min-height:365px;
			p{}
			.info{				
				padding: 0px 35px;
				text-align: left;

				i{
					display:block;
					text-align:center;
					min-height: 100px;
					&:before{
						font-size:60px!important;
						color:$padrao;	
						margin:0!important;				
					}					
				}
				p{
					font-size: 20px;
					color: #ae3433;
					font-weight: 600;
					display:inline;
					text-align: left;
					margin: 10px auto;	
					position: relative;				
					
				}
				#A{
					&:before{
						content: "\f10c";
						font-family: Flaticon;
						font-size: 20px;
						font-style: normal;
						font-size:60px!important;
						color:$padrao;	
						margin:0!important;	
						position: absolute;
						left: 50%;
						transform: translate(-50%, -50%);						
						-moz-transform:translateY(-50%);
						-o-transform:translateY(-50%);
					    top: -40px;
					    font-weight:100;
												
					
					}
				}
				#B{
					&:before{
						content: "\f104";
						font-family: Flaticon;
						font-size: 20px;
						font-style: normal;
						font-size:60px!important;
						color:$padrao;	
						margin:0!important;	
						position: absolute;
						left: 50%;
						transform: translate(-50%, -50%);						
						-moz-transform:translateY(-50%);
						-o-transform:translateY(-50%);
					    top: -40px;
					    font-weight:100;
												
					
					}
				}
				span{
					display: block;
					/* min-width: 180px; */
					font-size: 16px;
					font-weight: 500;
					max-width: 267px;
					text-align: left;
					color: #30415a;
					/* margin: 10px auto; */
					margin: 10px 0;
				}
				.correcaoX{
				    padding: 0 0 0 40px;

				}
			}
		}
		.carrossel-depoimentos{
			min-height:330px;
			width:100%;
			position:relative;
			margin-bottom:120px;
			.item{
				text-align:center;
				.lente{
					min-height:330px;
					width:100%;
					background:rgba(0, 0, 0, 0.77);
			        padding: 100px 100px 0;

				}
				min-height:330px;
				width:100%;
				background-size:cover!important;
				background-position:center!important;

				p{
					color:#fff;
					font-size:18px;
					line-height: 30px;
				    margin-bottom: 40px;
				    position:relative;
					i{
						display: block;
						position: absolute;
						width: 50px;
						height: 50px;
						left: -28px;
						border: solid;
						border-radius: 100%;
						top: -15px;
						line-height: 50px;
						color:#a29f9d;

					}
				}
				span{
					color:#ae3433;
					display:block;
					font-size:15px;
					font-weight:800;
					text-transform:uppercase;
				
				}
				small{
					color:#fff;
					font-size:14px;
					display:block;
					font-style:italic;
				}
			}
			a{				
				@include centroH;
				color: #a29f9d;				
				bottom: 30px;
				font-size: 35px;
				font-weight: 100;
				border: solid 2px;
				border-radius: 100%;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 35px;
				text-decoration: none;
				z-index:2;
				background:transparent;
				outline:none;
				i{
					color:#fff;
				}
			}
		}
		.carrossel-parceiros{
		    margin-top: 50px;
			min-height:190px;
			width:100%;
			margin-bottom:120px;
			.item{
				min-height:190px;
				width:100%;
				padding:25px;
				a{
					img{}
				}
			}
		}
		.area-blog{
			margin-bottom:120px;
			ul{
			
				li{
					
					a{
						.lente{
							
							
						}
						
					
						h4{
							
						}						
					}
					span{
						
						b{
							
						}
					}
					p{
						

					}	
					.ver-mais{
						
					}			
				}
			}
		}
		.area-blog{
			ul{
				li{
					a{
						&:hover{

						}
						.lente{
							h2{
								p{}
							}
						}
					}	
				}
			}
		}

	}	

/*PÁGINA QUEM SOMOS*/
	.pg-quem-somos{
		.texto-quem-somos{
			font-size: 16px;
			font-weight: 400;
			color: #5e5e5e;
			width: 100%;
			max-width: 1000px;
			margin: 35px auto;
		    line-height: 30px;
		    padding:10px;
		}
		.foto-quem-somos{
			min-height:395px;
			background:#30415a;
		    padding-left: 92px;
			.foto{
				min-height:395px;
				background-size:cover!important;
				background-position:center;
				border-left:solid #fff 1px;

				.lente{
					background:rgba(48, 65, 90, 0.57);
					min-height:395px;
			        padding: 50px 25px 0;
				}
				.subtitulo{
					font-size:25px;
					font-weight:100;
					color:#fff;
					text-transform:uppercase;
					&:after{
						content: '';
						display: block;
						background: #415166;
						color: #8e373d;
						width: 110px;
						height: 3px;
						

					}
				}
				.info{
					margin-top:100px;
					
					p{
						font-size:18px;
						font-style:italic;
						font-weight:100;
					    text-transform: capitalize;
				        margin: 20px 0;
				        color:#fff;
					    .icon{
					    	margin:0 10px;
					    	&:before{
					    		font-size:30px;
					    	}
					    }
					}
				}
			}	
		}
		.info-3b{
			width:100%;
			margin: 0 auto;
			max-width:700px;
			.info{
				text-align:center;
				.icon{
					text-align:center;
					&:before{
						font-size:50px;
					}
				}
				small{
					display:block;
					font-size:35px;
					font-weight:800;
					color:#af3736;
				}
				p{
					color:#af3736;
					font-size:15px;
				
					width:100%;
					max-width:130px;
					margin:0 auto;
				}
			}
		}
		.galeria{
			min-height:475px;
			width:100%;
			margin-top:100px;	
			ul{
				min-height:475px;
				text-align:center;
				width:100%;
				margin:50px 0 50px 0;				
				list-style:none;
				background:#3d4361;
			    padding: 4px 0 0;

				li{
				    max-width: 282px;
					min-height:225px;
					width:100%;
					display:inline-block;
				    margin: 5px 0;
					a{
						display:block;
						background-size:cover!important;
						background-position:center!important;
						min-height:225px;
						width:100%;
						&:hover .lente{
							background:transparent;
						}

						.lente{
							background:rgba(61, 67, 97, 0.68);
							min-height:225px;
							width:100%;
						}

					}
				}
			}
		}
	}

/*PRODUTOS*/
	.pg-produtos{
		.bg-produtos{
			height:280px;
			background-size:cover!important;
			background-position:center!important;
			width:100%;
			margin-top:20px;
		}
		.sidebar{
			min-height:80px;
			width:100%;
			margin-top:20px;
			text-align:center;
			background:#30415a;
		    padding: 20px 0 0;
			a{
				display:inline-block;
				min-height: 40px;
				line-height: 40px;
				font-size:16px;
				color:#fff;
				
				text-transform:uppercase;
				text-decoration:none;
			    width: 270px;
			    text-align:center;
				&:hover{
					font-weight:bold;
				}
				&:before{
					content:'Aquecedores de passagem';					
					display: block;
					font-weight: bold;
					height: 1px;
					color: transparent;
					overflow: hidden;
					visibility: hidden;
				}

			}
			.bordas{
				border-left:solid 1px #ccc;
				border-right:solid 1px #ccc;
				border-color:#5e6c7f;
			}
		}
		.produto{
			ul{
				list-style:none;
				margin:120px 0 0 0;
				padding:0;
				text-align:center;				
				li{
					width: 100%;
					max-width: 200px;
					min-height: 430px;
					text-align: center;
					position: relative;
					display: inline-block;
					margin: 40px 40px;
					vertical-align: top;
					.foto{
						min-height:280px;
						background-size:cover!important;
						background-position:center!important;
						display:block;
					}
					h2{
						color:#ae3433;
						margin:16px 0 6px 0;
						font-size:16px;
						text-align:center;
						font-weight:bold;
						text-transform:uppercase;
					}
					p{
						text-align:center;
						margin:0;
						font-size:14px;
						color:#30415a;
					}
					.ver{
						display: block;						
						color: #e39539;
						border: solid 2px;
						border-radius: 15px;
						width: 100%;
						max-width: 120px;
						margin: 0 auto;
						min-height: 30px;
						line-height: 30px;
						font-weight: 700;
						text-decoration:none;
						position:absolute;
						bottom:0;
						left: 50%;
						transform: translate(-50%, -50%);						
						-moz-transform:translateY(-50%);
						-o-transform:translateY(-50%);
						&:hover{
							background:#e39539;
							color:#fff;
						}
					}
				}
			}
		}		
	}

/*PRODUTO*/
	.pg-produto{
		.area-produto{
			margin-top:100px;
		   	margin-bottom: 100px;
			.foto-produto{
				padding:40px 0 0;
			    min-height: 517px;
				img{
					margin:0 auto;
				}
			}
			.fotos{
				margin-top:30px;
				ul{
					list-style: none;
					margin:55px 0 0 0;
					padding:0;
				    text-align: center;

					li{
						width: 120px;
						height: 110px;
						display:inline-block;
						border:solid 1px #d69a99;
						img{}
					}
				}
			}
			.correcaoX{
				padding:20px;
			}
			.info-produto{
				h2{
					font-weight:bold;
					font-size:24px;
					color:#ae3433;
					text-transform:uppercase;
					margin:0;

				}
				span{
					font-size:22px;
					color:#30415a;

				}
				p{
					font-size:14px;
					color:#30415a;
					font-weight:400;
				    margin: 40px 0 70px 0;
				}
			}
			.detalhe-info-produto{
				margin-bottom:55px;
				.aplicacoes{
					p{
						font-size:22px;
						color:#ae3433;
						font-weight:100;
						border-bottom:solid 4px #ae3433;
						text-align:center;						
						width:100%;
						max-width:280px;
						margin: 0 auto;
					}
					span{
						display:block;	
						
						font-size:16px;
						font-weight:400;
						color:#30415a;
						margin:10px 60px;
						.icon{
							margin:5px;
							&:before{
								font-size:30px;
							}
						}
					}
				}
				.beneficios{
					p{
						font-size:22px;
						color:#ae3433;
						font-weight:100;
						border-bottom:solid 4px  #ae3433;
						text-align:center;						
						width:100%;
						max-width:280px;
						margin: 0 auto;
					}
					span{
						display:block;						
						text-align:center;
						font-size:16px;
						font-weight:400;
						color:#30415a;
						margin:10px 0;
						i{
							margin:5px;
						    font-size: 25px;
						}
					}
				}
			}
			.caixa-info{
			    margin-top: 62px;
			}
			.danos-tecnicos{
				display: inline-block;
				vertical-align: top;
				.bg{
					min-height:110px;
					background:#ae3433;
				}
				p{
					font-size:22px;
					color:#ae3433;
					font-weight:100;
					padding:0 20px;
				    margin: 0;
				}
				.danos{
					padding:0 10px;
					span{
						display:block;
						color:#fff;
						font-size:16px;
						margin:10px 0;
					}
				}
				

			}
			.icon1{
					width: 80px;
					height: 110px;
					background:#30415a;
					line-height:110px;
					display:inline-block;
				    margin-top: 31px;

					&:before{
						color:#d6d9de;
					    font-size: 48px;
					}
			}
		}
		.carrossel-produtos{
			margin-top:50px;
		    min-height: 360px;
		    position:relative;
		    .item{
		    	width:100%;
		    }
		    .navegacaoProdutosFrent{
				color: #000;
				width: 70px;
				height: 70px;
				background: #30415a;
				border: 0;
				font-size: 50px;
				text-align: center;
				position:absolute;
				outline:none;
				left:-55px;
				z-index:2;
				color:#fff;
				top: 20%;
				&:hover{
					background:#ae3433;
				}
				

		    }
		    .navegacaoProdutosTras{
				color: #000;
				width: 70px;
				height: 70px;
				background: #30415a;
				border: 0;
				font-size: 50px;
				text-align: center;
				position:absolute;
				outline:none;
				right:-55px;
				z-index:2;
				color:#fff;
				top: 20%;
				&:hover{
					background:#ae3433;
				}

		    }
			.produto{
				ul{
					list-style:none;
					margin:0;
					padding:0;
					text-align:center;
					li{
						width: 100%;
						max-width: 200px;
					    min-height: 350px;
						text-align: center;
						position: relative;
						display: inline-block;
						margin:0;
						vertical-align:top;
						.foto{
							
							background-size:cover!important;
							background-position:center!important;
							display:block;
							img{
								width:70%;
								margin:0 auto;
							}
						}
						h2{
							color:#ae3433;
							margin:16px 0 6px 0;
							font-size:16px;
							text-align:center;
							font-weight:bold;
							text-transform:uppercase;
						}
						p{
							text-align:center;
							margin:0;
							font-size:14px;
							color:#30415a;
						}
						.ver{
							display: block;						
							color: #e39539;
							border: solid 2px;
							border-radius: 15px;
							width: 100%;
							max-width: 120px;
							margin: 0 auto;
							min-height: 30px;
							line-height: 30px;
							font-weight: 700;
							text-decoration:none;
							position:absolute;
							bottom:0;
							left: 50%;
							transform: translate(-50%, -50%);
							
							-moz-transform:translateY(-50%);
							-o-transform:translateY(-50%);
							&:hover{
								background:#e39539;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}

/* PÁGINA DE ASSISTÊNCIA TÉCNICA */
	.pg-assistencia-tecnica{
		margin-top:10px;
		.bg-assistencia{
			background-size:cover!important;
			background-position:center!important;
			.lente{
				min-height:395px;
				width:100%;
				background:rgba(48, 65, 90, 0.62);
				padding: 100px 210px;
			}
			p{
				font-size:33px;
				color:#fff;
				font-weight:100;
				text-transform:uppercase;
				text-align:center;			    
			}
			span{
				display:block;				
				font-size:15;
				color:#fff;
				line-height: 35px;
			}

		}
		.logo{
			img{
				margin:0 auto;
			}
		}
		.info{
			p{
				font-size:17px;
				color:#b13e3d;
				text-transform:uppercase;
				font-weight:800;
			}
			span{
				font-size:17px;
				font-weight:500;
				color:#30415a;
				display:block;
				text-align:center;
			}
			small{
				display:block;
				text-align:center;
				font-size:17px;
				color:#b13e3d;
				font-weight:600;
			}
		}
		.form{
			position:relative;
		    padding: 70px 20px;
		    text-align:left;
			.form-group{
			
				max-width:385px;
				width:100%;
				display:inline-block;
			    margin: 25px 4px;
				.form-control{				
					border:0;
					border-bottom:solid 1px #a2a9b5;
					border-radius:0;
					outline:none;					
					font-size:18px;
					-webkit-box-shadow: none!important;
					box-shadow: none!important;
					-webkit-transition:none!important;
					-o-transition: border-color none!important;
					transition: border-color none!important;
					outline:none!important;

					
				}

				input,
					textarea {
						outline:none;	
					}

					::-webkit-input-placeholder {
						color: #30415a!important;
						text-align:left;
						font-size:18px;
						
					}

					:-moz-placeholder {
						color: #30415a!important;
						text-align:left;
						font-size:18px;
						
					}

					::-moz-placeholder {
						color: #30415a!important;
						text-align:left;
						font-size:18px;  
						
					}

					:-ms-input-placeholder {  
						color: #30415a!important;
						text-align:left;
						font-size:18px;  
						
					}	
			}
			.form-group-mensagem{
					
					width:100%;
					min-height:100px;
					margin: 25px 4px;
					textarea{
						width:100%;
						max-width:100%;
						min-height:100px;	
						max-height:100px;
						border:solid 1px #a2a9b5;	
					}
					label{
						font-weight:500;
						font-size:18px;
					}
			}
			.enviar{
				border:0;
				width:100%;
				max-width:200px;
				border-radius:15px;
				background:#b54847;
				font-size:17px;
				text-align:center;
				height: 32px;
				color:#fff;
				position:absolute;
				right:0;
				margin:20px;
				outline:none!important;
			}
			.wpcf7-validation-errors{
			    margin-top: 47px!important;
			    border: 2px solid #b54847!important;
			}
		}
	}

/*BLOG*/
	.pg-blog{
		margin-top:100px;
		margin-bottom:50px;
		.sub-titulo{
			margin:0;
		}
		.sidebar{
			padding: 90px 0 25px;
		}		
	}

/*PÁGINA DE POSTAGEM*/
	.pg-blog-postagem{
		margin-top:100px;
		margin-bottom:50px;
		.sidebar{
			padding: 90px 0 25px;
		}	
		.sub-titulo{
				margin:0 0 50px;
			}	
		.area-do-postagem{
			.foto-postagem{
				min-height:330px;
				width: 100%;
				background-size:cover!important;
				background-position:center!important;
				background-repeat:no-repeat!important;
			}
			h2{
				font-size:21px;
				text-transform:uppercase;
				color:#ae3433;
			}
			span{
				display:block;
				font-size:14px;
				color:#30415a;
				text-transform:uppercase;
				font-weight:600;
				margin-top:25px;
				&:before{
					content: '';
					display: block;
					background: #c26766;
					color: #8e373d;
					width: 100px;
					height: 3px;
					

				}

			}
			p{
				font-size:15px;
				color:#30415a;
				line-height: 30px;
				margin-top:40px;

			}
				
		}
		.redes-sociais{
			margin-top:50px;
			a{
				display:inline-block;
				width: 100%;
				max-width:40px;
				height:40px;
				border-radius:100%;
				text-align:center;
				line-height:40px;
				font-size:17px;
				margin:2px;
				border:solid 2px #2f415a;
				color:#2f415a;
				&:hover{
					border-color:#a23537;
					color:#a23537;
				}


				i{}
			}
		}
		.disqus{
			margin:50px;
		}
		.paginador{
			text-align:center;
			a{
				color:#e39539;
				display:inline-block;
				font-size:16px;
				margin:0 5px;
				&:hover{
					font-weight:bold;
				}
				i{}
			}
		}

	}	

/*PÁGINA DE DEPOIMENTOS*/
	.pg-depoimentos{
		margin-top:100px;

		.depoimentos{
			margin-top:50px;
			.depoimento{
				min-height:330px;
				width:100%;
				background-size:cover!important;
				background-position:center!important;
				border-top:solid 1px #fff;
				.lente{
					min-height:330px;
					width:100%;
					padding: 100px 100px 0;

				}
				
					p{
						color:#fff;
						font-size:18px;
						line-height: 30px;
					    margin-bottom: 40px;
					    position:relative;
					    text-align:center;
						
					}
					span{
						color:#fff;
						display:block;
						font-size:15px;
						font-weight:800;
						text-transform:uppercase;
						text-align:center;
					
					}
					small{
						color:#fff;
						font-size:14px;
						display:block;
						font-style:italic;
						text-align:center;
					}
			}
			
		}
		.paginador{
			text-align:center;
			margin:50px 0;
				a{
					color: #000;
					width: 70px;
					height: 70px;
					background: #30415a;
					border: 0;
					font-size: 50px;
					text-align: center;
					display:inline-block;
					outline:none;
					left:-55px;
					z-index:2;
					color:#fff;
					top: 20%;
					&:hover{
						background:#ae3433;
					}
				}
			}
	}

/* CONTATO */
	.pg-contato{
		margin-top:100px;
		.titulo{
			margin-bottom: 70px;			
		}
		.contato{
			.info-contato{
				background-size: cover!important;
				background-position: center!important;
				height: 700px;
				.logo{
					padding-left: 40%;
					text-align: center;

					img{
						margin-top: 20px;
						width: 60%;
						height: 60%;
						max-width: 200px;
					}
					p{
						color: #b13e3d;
						font-weight: 900;
						font-size: 18px;
						text-transform: uppercase;
						max-width: 350px;
						margin: 10px auto 0;
					}
					span{
						font-size: 18px;
						color: #30415a;
					}
				}
				.endereco{
					position: absolute;
					bottom: 0;
					ul{
						padding: 0;
						list-style-type: none;						
					}
					span{
						display: inline-block;
						vertical-align: top;
					}
					span:before{
						margin-right: 20px;
						font-size: 26px;
						color: #30415a;
					}
					p{
						display: inline-block;
						max-width: 350px;
						font-size: 18px;
						color: #30415a;
						font-weight: 400;
					}					
				}				
			}			
			.form-contato{
				max-width: 400px;
				width: 100%;
				float: right;
				text-align: left;
				display: block;
				p{
					font-weight: 900;
					font-size: 18px;
					color: #b13e3d;
					text-transform: uppercase;
					width: 100%;
					text-align: center;
				}
				.subt{
					font-weight: 400;
					font-size: 18px;
					color: #30415a;
					width: 100%;
					text-align: center;
					margin-bottom: 80px;
					display: block;
				}				
				.form-group{
					border-bottom: 1px solid #30415a;
					margin-bottom: 45px;
					label{
						display: block;
						display: inline-block;
						max-width: 50%;
						font-size: 18px;
						color: #30415a;
						font-weight: 400;
						min-width: 165px;
					}
					input{
						border: none;
						display: inline-block;
						max-width: 195px;
						outline:none!important;
						&:focus{
							outline:none;
						}
					}
					textarea{
						display: block;						
						resize: none;
						width: 100%;
						height: 95px;
						border-color: #30415a;
						padding-left: 10px;
					}					
				}
				.botao{
					width: 200px;
					height: 32px;
					background:#b54847;
					color:#fff;
					text-align:center;
					border:0;
					border-radius:25px;
					font-size: 18px;
					font-weight:100;
					float: right;
					outline:none!important;
				}
			}
			.wpcf7-validation-errors {
			    margin-top: 47px!important;
			    border: 2px solid #b54847!important;
			}
		}
	}

/*MEDIA */
	@media (max-width: 1440px) {
		.topo .navbar .navbar-header .navbar-collapse ul li a{
		    margin: 0 10px;

		}
		.topo .logo a h1{
			width: 160px;
   			height: 200px;
		}
		.topo .logo a {
			width: 160px;
   			height: 200px;
			   top: -21px;
		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul li a{
		    margin: 0 10px;

		}
		.paginas-internas .logo a h1{
			width: 160px;
   			height: 200px;
		}
		.paginas-internas .logo a {
			width: 160px;
   			height: 200px;
		}
		.pg-quem-somos .galeria ul li{
		    max-width: 232px;
		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul{
			left: 10px !important;
		}
		.topo .info-contato .correcaoX{
		    margin-left: 34%;
	        line-height: 25px;
		}
	}
	@media (max-width: 1200px) and (min-width: 990px) {
		.pg-contato .contato .form-contato{
			padding-left: 30px;
		}
	}
	@media(max-width: 1024px){
		.topo .navbar .navbar-header .navbar-collapse ul li a{
			margin:0;
		}
		.topo .info-contato .correcaoX{
	       margin-left: inherit;
		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul li a{
			margin:0;
		}
		.pg .produtos ul li{
		    max-width: 310px;
		}
		.pg-produto .area-produto .detalhe-info-produto .aplicacoes span{
		    margin: 10px;
		}
		.pg-produto .area-produto .fotos ul li{
			width: 96px;
			height: 90px;
		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul{
			left: 0px!important;
		}
		.pg-produto .area-produto .icon1{
			width: 100%;
			margin-top:0;
			text-align:center;
		}
		.pg-produto .area-produto .danos-tecnicos{
			width:100%;
		}

	}
	@media(max-width: 991px){
		.pg-contato {
			margin-bottom: 0px;
		}
		.pg-contato .contato .form-contato {
			float: none;
			padding: 0 10px;
			margin: 50px auto;
		}
		.topo .logo a{
		    position: inherit!important;
		    top: 0!important;
		}
	
		.navbar-header{
	        padding-left: 45px;
		}

		.rodape .area-info-rodape{
			text-align:center;
		}
		.rodape .bg-fundo .form-rodape{
			max-width: 100%;
			text-align:center;
		}
		.rodape .bg-fundo .form-rodape p{
			text-align: center;
		}
		.rodape .bg-fundo .form-rodape p:before{
		    margin: 0 auto;
		}
		.rodape .form-group{
			margin-bottom: 15px;
			max-width: 410px;
			margin: 10px auto;
		}
		.rodape .bg-fundo .logo-rodape img{
			margin:0 auto;
		}

	}
	@media(max-width: 768px){
		.topo .logo a{
		    position: inherit;
	        margin-top: 20px;
		}
		.pg .mais-vistos ul li a .foto{
			margin:0 auto;
		}
		.pg-contato .contato .info-contato .logo{
		    padding-left: 0;
		}
		.pg-contato .contato .info-contato .endereco{
			width: 100%;
			text-align: center;
		}
		.topo .info-contato{
		    line-height: 24px;
		}
		.topo .info-contato{
			text-align:center;
		}
		.topo .navbar{
			margin:0;
		}
		.paginas-internas .logo a{
		    position: inherit;
	        margin-top: 25px;
		}
		
		.paginas-internas .navbar{
			margin:0;
		}
		.rodape .bg-fundo .logo-rodape img{
	 		height: 299px;
		}
		.pg .produtos ul li {
		    max-width: 237px;
		}
		.pg-inicial .info-oque-fazemos .info span{
			margin:10px auto;
			text-align: center;
		}
		.pg-inicial .info-oque-fazemos .info .correcaoX {
		    padding: inherit;
		}
		.pg .frase{
			padding:10px;
		}
		.pg-quem-somos .galeria ul li{
		    max-width: 315px;
		}
		.pg-quem-somos .foto-quem-somos{
			padding:0;
		}
		.pg-quem-somos .foto-quem-somos .foto .subtitulo{
			text-align:center;
		}
		.pg-quem-somos .foto-quem-somos .foto .subtitulo::after{
			margin:0 auto;
		}
		.info-produto,.aplicacoes{
			text-align:center;
		}
		.pg-assistencia-tecnica .form{
			text-align:center;
		}
		.pg-assistencia-tecnica .form .form-group-mensagem{
			max-width:385px;
			margin:0 auto;	
		}
		.pg-assistencia-tecnica .form .enviar{
	    	position: inherit;
		}
		.pg-assistencia-tecnica .bg-assistencia .lente{
		    padding: 100px 45px;
		}
		.pg-blog .mais-vistos{
			max-width: inherit;
			text-align: center;
		}
		.pg-blog .mais-vistos::after{
		    margin: 31px auto 0;
		}
		.pg .mais-vistos{
			max-width: inherit;
			text-align: center;
		}
		.pg .mais-vistos::after{
		    margin: 31px auto 0;
		}
		.pg-blog .mais-vistos ul li{
			display:inline-block;
		}
		.pg-blog .sidebar{
			
		}
		.pg-blog .sidebar{
			max-width: 224px;
		}
		.pg-blog-postagem .mais-vistos{
			max-width: inherit;
		}
		.pg-blog-postagem .mais-vistos ul li{
			display:inline-block;
		}
		.pg-blog-postagem .sidebar{
		
		}
		.pg-blog-postagem .sidebar{
			max-width: 224px;
		}
		.pg-blog-postagem .redes-sociais{
			text-align:center;
		}		
		.paginas-internas .info-contato{
			text-align:center;
		}
		.pg-inicial .carrossel-depoimentos .item p i{
			left: -40px!important;
		}
		.pg-inicial .info-oque-fazemos .info{
			text-align: center;
			margin:0 auto;
		}
		.pg-inicial .carrossel-depoimentos a{
		    bottom: 17px;
		}
		.navbar-header{
		    padding-left: 0;
		}



	}
	@media(max-width: 450px){
		.pg-contato .contato .info-contato .endereco p{
			max-width: 235px;
		}
		.paginas-internas .logo a{
		    position: inherit;
	        margin-top: 30px;
		}
	}
	@media(max-width: 425px){
		.rodape .bg-fundo .logo-rodape img{
			margin:0 auto;
		}
		.rodape .bg-fundo .form-rodape{
			padding: 30px 20px;
		}
		.rodape .correcaoX{
			text-align:center;
		}
		.rodape .area-info-rodape .redes-sociais{
			margin:40px 0;
		}
		.rodape .area-info-rodape .mapa{
			margin: 35px auto;
		}
		.copyright p{
			line-height: 20px;
		}
		.carrossel .item .descicao{
			left: 7%;
		    bottom: 20%;
		}
		.navbar-nav{
			background: rgba(255, 255, 255, 0.78);
			   margin-top: 38px;
		}
		.topo .navbar .navbar-header .navbar-collapse ul li a{
			color: #000;
		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul li a{
			color: $padrao;
		}
		.paginas-internas  .dropdown ul li a{
			color:#fff!important;
		}
		.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
			background:$padrao;
		}
		.navbar-collapse.in{
			overflow-y: inherit;

		}
		.paginas-internas .navbar .navbar-header .navbar-collapse ul .dropdown ul{
			width: 300px;
		}
		.pg .produtos ul li {
		    max-width: inherit;
		}
		.pg-inicial .texto-quem-somos a{
		    position: inherit;
		}
		.pg-inicial .carrossel-depoimentos .item p i{
		    left: -45px!important;
		}
		.pg .area-blog ul li{
			margin:0;
		}
		.pg-inicial .carrossel-depoimentos .item .lente{
		    padding: 100px 50px 0;
		}
		.pg-quem-somos .foto-quem-somos .foto .info p .icon{
			margin:0;
		}
		.pg-produto .area-produto .icon1{
			display:block;
			width:100%;
			text-align:center;
			margin-top:0;
		}
		.pg-produto .area-produto .danos-tecnicos{
			display:block;
			text-align:center;
		}
		.pg-assistencia-tecnica .bg-assistencia .lente{
		    padding: 100px 24px;
		}
		.pg-blog-postagem .area-do-postagem p{
			padding:20px;
		}
		.pg-blog-postagem .area-do-postagem h2{
			text-align:center;
		}
		.pg-blog-postagem .area-do-postagem span{
			text-align:center;
		}
		.pg-blog-postagem .area-do-postagem span:before{
			margin:0 auto;
		}
		.depoimentos .depoimento .lente{
		    padding: 100px 40px 0;
		}
		.pg-depoimentos .depoimentos .depoimento .lente{
			 padding: 100px 40px 0;
		}
		.topo .navbar .navbar-header .navbar-collapse ul .dropdown ul li a{
			color:#fff;
		}


	}
	@media(max-width: 375px){
		.topo .logo a {
		    position: inherit;
		    margin-top: 78px;
		}
		.topo .logo a h1 {
		    width: 143px;
		    height: 180px;
		}
	}
	@media(max-width: 320px){
		.carrossel .item .descicao{
			bottom: 15%;
			left: 1%;
		}
		.paginas-internas .logo a {
		    
		    margin-top: 165px;
		}
		.topo .logo a {
		  
		    margin-top: 142px;
		}
	}


.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background: transparent!important;	
	color:#c26766!important;
}